{"openapi":"3.1.0","info":{"title":"Pancake POS Open API","version":"1.0.0","description":"API documentation for POS system.\n\n## Account Authentication\n\n### Create API Key\n\nGo to website **Setting -> Advance -> Third-party connection -> Webhook/API**. On frame `API KEY`, click `Create`.\n","x-description-i18n":{"vie":"Tài liệu API cho hệ thống POS.\n\n## Xác thực Tài khoản\n\n### Tạo API Key\n\nVào giao diện **Cấu hình -> Nâng cao -> Kết nối bên thứ 3 -> Webhook/API**. Trong khung `API KEY`, click `Thêm mới`.\n"}},"servers":[{"url":"https://pos.pages.fm/api/v1","description":"Production server"}],"paths":{"/shops":{"get":{"summary":"Shop information","x-summary-i18n":{"vie":"Thông tin cửa hàng"},"description":"Get shop information","x-description-i18n":{"vie":"Lấy thông tin cửa hàng"},"tags":["Shop"],"x-tags-i18n":{"vie":["Cửa hàng"]},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"shops":{"type":"array","items":{"type":"object","properties":{"avatar_url":{"type":"string","description":"Avatar image link","x-description-i18n":{"vie":"Link hình đại diện"}},"name":{"type":"string","description":"Shop name","x-description-i18n":{"vie":"Tên cửa hàng"}},"id":{"type":"integer","description":"Shop ID","x-description-i18n":{"vie":"Mã cửa hàng"}},"preferred_shop":{"type":["integer","null"],"description":"User-specific preferred shop rank. Lower values have higher priority","x-description-i18n":{"vie":"Thứ tự ưu tiên cửa hàng của người dùng. Giá trị nhỏ hơn có độ ưu tiên cao hơn"}},"pages":{"type":"array","description":"Pages information in shop","x-description-i18n":{"vie":"Thông tin pages được gộp trong shop"},"items":{"type":"object","properties":{"id":{"type":"string","description":"Page ID","x-description-i18n":{"vie":"Mã trang liên kết"}},"name":{"type":"string","description":"Page name","x-description-i18n":{"vie":"Tên trang"}},"platform":{"type":"string","description":"Platform (e.g., facebook)","x-description-i18n":{"vie":"Nền tảng (ví dụ: facebook)"}},"settings":{"type":"object","description":"Page settings","x-description-i18n":{"vie":"Cài đặt trang"},"properties":{"auto_create_order":{"type":"boolean","description":"Auto create order","x-description-i18n":{"vie":"Tự động tạo đơn"}}}},"shop_id":{"type":"integer","description":"Shop ID","x-description-i18n":{"vie":"Mã cửa hàng"}}}}},"link_post_marketer":{"type":"array","description":"Information of link post / source / AD account with marketer","x-description-i18n":{"vie":"Thông tin liên kết bài viết / nguồn đơn / TK QC với marketer"},"items":{"type":"object","properties":{"ad_account_id":{"type":"string","description":"AD account ID","x-description-i18n":{"vie":"ID tài khoản QC"}},"id":{"type":"string","description":"Link ID","x-description-i18n":{"vie":"ID liên kết"}},"inserted_at":{"type":"string","format":"date-time","description":"Inserted at","x-description-i18n":{"vie":"Thời điểm tạo"}},"marketer":{"type":"string","description":"Marketer ID","x-description-i18n":{"vie":"Mã nhân viên marketer"}},"multiple_post":{"type":"array","description":"Post ID","x-description-i18n":{"vie":"ID bài viết"},"items":{"type":"string"}},"multiple_source":{"type":"array","description":"Source information","x-description-i18n":{"vie":"Thông tin nguồn đơn"},"items":{"type":"object","properties":{"account":{"type":"string","description":"Order source account ID","x-description-i18n":{"vie":"Mã TK nguồn đơn hàng"}},"key":{"type":"string","description":"Key","x-description-i18n":{"vie":"Khóa"}},"page_id":{"type":"string","description":"Facebook page ID","x-description-i18n":{"vie":"Mã Facebook page"}}}}},"shop_id":{"type":"integer","description":"Shop ID","x-description-i18n":{"vie":"Mã cửa hàng"}},"type":{"type":"string","description":"Type of link (post: \"Post\", source: \"Source\", ad_account_id: \"AD account\")","x-description-i18n":{"vie":"Loại liên kết (post: \"Bài viết\", source: \"Nguồn đơn\", ad_account_id: \"Tài khoản quảng cáo\")"}}}}}}}},"success":{"type":"boolean"}}},"examples":{"default":{"value":{"shops":[{"avatar_url":"https://statics.pancake.vn/user-content-dev2.pancake.vn/2022/7/6/8678250807b2285e2752ac2cbbf43925f19a677c.jpeg","name":"Shop thời trang","id":6036602,"link_post_marketer":[{"ad_account_id":null,"id":"949f1396-f6fa-45d9-93b6-4c37503a9950","inserted_at":"2025-08-21T03:02:04","marketer":"cee3c05e-5f85-43c4-b27e-889b99c50097","multiple_post":[],"multiple_source":[{"account":"2284322048329488","key":"-1","page_id":"2284322048329488"}],"shop_id":6036602,"type":"source"}],"pages":[{"id":"104438181227821","name":"Quần áo","platform":"facebook","settings":{"auto_create_order":true},"shop_id":20}]}],"success":true}}}}}}}}},"/geo/provinces":{"get":{"summary":"List of provinces and cities","x-summary-i18n":{"vie":"Danh sách tỉnh thành phố"},"description":"Get list of provinces and cities","x-description-i18n":{"vie":"Lấy danh sách tỉnh thành phố"},"tags":["Address"],"x-tags-i18n":{"vie":["Địa chỉ"]},"parameters":[{"name":"country_code","in":"query","required":true,"schema":{"type":"string","default":"84","example":"84"},"description":"Country code (for example, Vietnam country code is 84)","x-description-i18n":{"vie":"Mã quốc gia (ví dụ mã quốc gia Viet Nam là 84)"},"example":"84"},{"name":"is_new","in":"query","required":false,"schema":{"type":"boolean","default":false,"example":false},"description":"New province (for country Viet Nam)","x-description-i18n":{"vie":"Tỉnh thành mới (với quốc gia Viet Nam)"},"example":false},{"name":"all","in":"query","required":false,"schema":{"type":"boolean","default":false,"example":false},"description":"All provinces including old and new (for country Viet Nam)","x-description-i18n":{"vie":"Tỉnh thành gồm cả cũ và mới (với quốc gia Viet Nam)"},"example":false}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Province ID","x-description-i18n":{"vie":"Mã tỉnh thành phố"}},"name":{"type":"string","description":"Province name","x-description-i18n":{"vie":"Tên tỉnh thành"}},"name_en":{"type":"string","description":"Province name in English","x-description-i18n":{"vie":"Tên tiếng Anh"}},"new_id":{"type":"string","description":"New province ID (for country Viet Nam)","x-description-i18n":{"vie":"Mã tỉnh thành mới (với quốc gia Viet Nam)"}}}}}}},"examples":{"default":{"value":{"data":[{"id":"101","name":"Hà Nội","name_en":"ha noi","new_id":"84_VN101"},{"id":"701","name":"Hồ Chí Minh","name_en":"ho chi minh","new_id":"84_VN129"}]}}}}}}}}},"/geo/districts":{"get":{"summary":"List of districts","x-summary-i18n":{"vie":"Danh sách quận huyện"},"description":"Get list of districts","x-description-i18n":{"vie":"Lấy danh sách quận huyện"},"tags":["Address"],"x-tags-i18n":{"vie":["Địa chỉ"]},"parameters":[{"name":"province_id","in":"query","required":true,"schema":{"type":"string","example":"101"},"description":"Province ID of districts you want to retrieve. Get province ID in api GET /geo/provinces","x-description-i18n":{"vie":"Mã tỉnh thành phố của các quận huyện bạn muốn lấy. Lấy mã tỉnh thành phố trong api GET /geo/provinces"},"example":"101"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"District ID","x-description-i18n":{"vie":"Mã quận huyện"}},"name":{"type":"string","description":"District name","x-description-i18n":{"vie":"Tên quận huyện"}},"name_en":{"type":"string","description":"District name in English","x-description-i18n":{"vie":"Tên tiếng Anh"}},"province_id":{"type":"string","description":"Province ID","x-description-i18n":{"vie":"Mã tỉnh thành phố"}}}}}}},"examples":{"default":{"value":{"data":[{"id":"10101","name":"Quận Ba Đình","name_en":"ba dinh","province_id":"101"}]}}}}}}}}},"/geo/communes":{"get":{"summary":"List of communes","x-summary-i18n":{"vie":"Danh sách phường xã"},"description":"Get list of communes","x-description-i18n":{"vie":"Lấy danh sách phường xã"},"tags":["Address"],"x-tags-i18n":{"vie":["Địa chỉ"]},"parameters":[{"name":"district_id","in":"query","required":true,"schema":{"type":"string"},"description":"District ID of communes you want to retrieve. Get district ID in api GET /geo/districts","x-description-i18n":{"vie":"Mã quận huyện của các phường xã bạn muốn lấy. Lấy mã quận huyện trong api GET /geo/districts"},"example":"10101"},{"name":"province_id","in":"query","required":true,"schema":{"type":"string"},"description":"Province ID of communes you want to retrieve. Get province ID in api GET /geo/provinces","x-description-i18n":{"vie":"Mã tỉnh thành phố của các phường xã bạn muốn lấy. Lấy mã tỉnh thành phố trong api GET /geo/provinces"},"example":"101"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Commune ID","x-description-i18n":{"vie":"Mã phường xã"}},"name":{"type":"string","description":"Commune name","x-description-i18n":{"vie":"Tên xã phường"}},"name_en":{"type":"string","description":"Commune name in English","x-description-i18n":{"vie":"Tên tiếng Anh"}},"district_id":{"type":"string","description":"District ID","x-description-i18n":{"vie":"Mã quận huyện"}},"province_id":{"type":"string","description":"Province ID","x-description-i18n":{"vie":"Mã tỉnh thành phố"}},"new_id":{"type":"string","description":"New commune/ward ID (for country Viet Nam)","x-description-i18n":{"vie":"Mã xã phường mới (với quốc gia Viet Nam)"}},"postcode":{"type":"string","description":"Postal code","x-description-i18n":{"vie":"Mã bưu điện"}}}}}}},"examples":{"default":{"value":{"data":[{"district_id":"10101","id":"1010115","name":"Phường Cống Vị","name_en":"cong vi","new_id":null,"postcode":null,"province_id":"101"}]}}}}}}}}},"/shops/{SHOP_ID}/warehouses":{"get":{"summary":"Warehouse list","x-summary-i18n":{"vie":"Danh sách kho hàng"},"description":"Get list of warehouses","x-description-i18n":{"vie":"Lấy danh sách kho hàng"},"tags":["Warehouse"],"x-tags-i18n":{"vie":["Kho hàng"]},"parameters":[{"name":"SHOP_ID","in":"path","required":true,"schema":{"type":"integer","example":4},"description":"Shop ID","x-description-i18n":{"vie":"Mã shop"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","description":"Warehouses list","x-description-i18n":{"vie":"Danh sách kho hàng"},"properties":{"data":{"type":"array","description":"List of warehouses","x-description-i18n":{"vie":"Danh sách kho hàng"},"items":{"$ref":"#/components/schemas/Warehouse"}}}},"examples":{"default":{"value":{"data":[{"id":"b4cb5897-6e56-4581-96cc-2f12677c7bd8","name":"kho test ecod","address":"hâhhha","full_address":"hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu","phone_number":"0999999999","province_id":"717","district_id":"71705","commune_id":"7170510","country_code":"84","shop_id":26290,"allow_create_order":true,"custom_id":null,"affiliate_shop_id":26290,"affiliate_warehouse":"Kho gia dụng"},{"id":"644b0063-e9a8-43cd-ba08-66a8066d462e","name":"kho 2","address":"19/349 Minh Khai , Hai bà Trưng, Hà Nội","full_address":"19/349 Minh Khai , Hai bà Trưng, Hà Nội, Phường Minh Khai, Quận Hai Bà Trưng, Hà Nội","phone_number":"01655809949","province_id":"101","district_id":"10107","commune_id":"1010735","country_code":"84","shop_id":26290,"allow_create_order":false,"custom_id":null}]}}}}}}}},"post":{"summary":"Create warehouse","x-summary-i18n":{"vie":"Tạo kho hàng"},"description":"Create warehouses","x-description-i18n":{"vie":"Tạo kho hàng"},"tags":["Warehouse"],"x-tags-i18n":{"vie":["Kho hàng"]},"parameters":[{"name":"SHOP_ID","in":"path","required":true,"schema":{"type":"integer","example":4},"description":"Shop ID","x-description-i18n":{"vie":"Mã shop"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","shelf_config"],"properties":{"name":{"type":"string","description":"Warehouse name","x-description-i18n":{"vie":"Tên kho hàng"}},"address":{"type":"string","description":"Warehouse address","x-description-i18n":{"vie":"Địa chỉ chi tiết kho hàng(số nhà, đường, ...)"}},"phone_number":{"type":"string","description":"Warehouse phone number","x-description-i18n":{"vie":"Số điện thoại kho hàng"}},"province_id":{"type":"string","description":"Province ID. Get by API GET /geo/provinces","x-description-i18n":{"vie":"Mã tỉnh thành phố. Lấy từ API GET /geo/provinces"}},"district_id":{"type":"string","description":"District ID. Get by API GET /geo/districts","x-description-i18n":{"vie":"Mã quận huyện. Lấy từ API GET /geo/districts"}},"commune_id":{"type":"string","description":"Commune ID. Get by API GET /geo/communes","x-description-i18n":{"vie":"Mã phường xã. Lấy từ API GET /geo/communes"}},"country_code":{"type":"string","description":"Country code","x-description-i18n":{"vie":"Mã quốc gia"}},"shelf_config":{"type":"object","description":"Shelf config","x-description-i18n":{"vie":"Cấu hình kệ"},"properties":{"col":{"type":"string","description":"Column","x-description-i18n":{"vie":"Cột"}}}},"batch_config":{"type":"object","description":"Batch config","x-description-i18n":{"vie":"Cấu hình lô"},"properties":{"col":{"type":"string","description":"Column"},"line":{"type":"string","description":"Line"},"row":{"type":"string","description":"Row"}}},"custom_shelf_config":{"type":"object","description":"Custom shelf config","x-description-i18n":{"vie":"Cấu hình kệ tùy chỉnh"},"properties":{"custom_config":{"type":"object","description":"Custom config"}}},"custom_batch_config":{"type":"object","description":"Custom batch config","x-description-i18n":{"vie":"Cấu hình lô tùy chỉnh"},"properties":{"custom_config":{"type":"object","description":"Custom config"}}},"hide_config_batch_shelf":{"type":"boolean","description":"Open custom batch shelf config","x-description-i18n":{"vie":"Mở cấu hình lô kệ tùy chỉnh"}}},"example":{"name":"kho 2","address":"19/349 Minh Khai , Hai bà Trưng, Hà Nội","phone_number":"098765432","province_id":"101","district_id":"10107","commune_id":"1010735","country_code":"84","shelf_config":{"col":"3"},"batch_config":{"col":"0","line":"3","row":"3"},"custom_batch_config":{"custom_config":{"0":"lô 1"}},"custom_shelf_config":{"custom_config":{"0":"1.1","1":"1.2","2":"1.3","3":"1.4"}},"hide_config_batch_shelf":false}}}},"description":"Request body containing warehouse information to create","x-description-i18n":{"vie":"Thông tin yêu cầu chứa thông tin kho hàng cần tạo"}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Warehouse"},"examples":{"default":{"value":{"id":"b4cb5897-6e56-4581-96cc-2f12677c7bd8","name":"kho test ecod","address":"hâhhha","full_address":"hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu","phone_number":"0999999999","province_id":"717","district_id":"71705","commune_id":"7170510","country_code":"84","shop_id":26290,"allow_create_order":true,"custom_id":null}}}}}}}}},"/shops/{SHOP_ID}/warehouses/{WAREHOUSE_ID}":{"put":{"summary":"Update warehouse","x-summary-i18n":{"vie":"Cập nhật kho hàng"},"description":"Update warehouse","x-description-i18n":{"vie":"Cập nhật kho hàng"},"tags":["Warehouse"],"x-tags-i18n":{"vie":["Kho hàng"]},"parameters":[{"name":"SHOP_ID","in":"path","required":true,"schema":{"type":"integer","example":4},"description":"Shop ID","x-description-i18n":{"vie":"Mã shop"}},{"name":"WAREHOUSE_ID","in":"path","required":true,"schema":{"type":"string","example":"b4cb5897-6e56-4581-96cc-2f12677c7bd8"},"description":"Warehouse ID","x-description-i18n":{"vie":"Mã kho hàng"}}],"requestBody":{"required":true,"description":"Request body containing warehouse information to update","x-description-i18n":{"vie":"Thông tin yêu cầu chứa thông tin kho hàng cần cập nhật"},"content":{"application/json":{"schema":{"type":"object","required":["name","shelf_config"],"properties":{"name":{"type":"string","description":"Warehouse name","x-description-i18n":{"vie":"Tên kho hàng"}},"address":{"type":"string","description":"Warehouse address","x-description-i18n":{"vie":"Địa chỉ chi tiết kho hàng(số nhà, đường, ...)"}},"phone_number":{"type":"string","description":"Warehouse phone number","x-description-i18n":{"vie":"Số điện thoại kho hàng"}},"province_id":{"type":"string","description":"Province ID. Get by API GET /geo/provinces","x-description-i18n":{"vie":"Mã tỉnh thành phố. Lấy từ API GET /geo/provinces"}},"district_id":{"type":"string","description":"District ID. Get by API GET /geo/districts","x-description-i18n":{"vie":"Mã quận huyện. Lấy từ API GET /geo/districts"}},"commune_id":{"type":"string","description":"Commune ID. Get by API GET /geo/communes","x-description-i18n":{"vie":"Mã phường xã. Lấy từ API GET /geo/communes"}},"country_code":{"type":"string","description":"Country code","x-description-i18n":{"vie":"Mã quốc gia"}},"shelf_config":{"type":"object","description":"Shelf config","x-description-i18n":{"vie":"Cấu hình kệ"},"properties":{"col":{"type":"string","description":"Column","x-description-i18n":{"vie":"Cột"}}}},"batch_config":{"type":"object","description":"Batch config","x-description-i18n":{"vie":"Cấu hình lô"},"properties":{"col":{"type":"string","description":"Column"},"line":{"type":"string","description":"Line"},"row":{"type":"string","description":"Row"}}},"custom_shelf_config":{"type":"object","description":"Custom shelf config","x-description-i18n":{"vie":"Cấu hình kệ tùy chỉnh"},"properties":{"custom_config":{"type":"object","description":"Custom config"}}},"custom_batch_config":{"type":"object","description":"Custom batch config","x-description-i18n":{"vie":"Cấu hình lô tùy chỉnh"},"properties":{"custom_config":{"type":"object","description":"Custom config"}}},"hide_config_batch_shelf":{"type":"boolean","description":"Open custom batch shelf config","x-description-i18n":{"vie":"Mở cấu hình lô kệ tùy chỉnh"}}},"example":{"name":"Kho mặc định","address":"190 La Thành","phone_number":"0366452565","province_id":"101","district_id":"10113","commune_id":"1011309","country_code":"84","shelf_config":{"col":"3"},"batch_config":{"col":"0","line":"3","row":"3"},"custom_batch_config":{"custom_config":{"0":"lô 1"}},"custom_shelf_config":{"custom_config":{"0":"1.1","1":"1.2","2":"1.3","3":"1.4"}},"hide_config_batch_shelf":false}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Warehouse"},"examples":{"default":{"value":{"id":"b4cb5897-6e56-4581-96cc-2f12677c7bd8","name":"kho test ecod","address":"SCB","full_address":"SCB, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu","phone_number":"0999999999","province_id":"717","district_id":"71705","commune_id":"7170510","country_code":"84","shop_id":26290,"allow_create_order":true,"custom_id":null}}}}}}}}},"/shops/{SHOP_ID}/inventory_histories":{"get":{"summary":"Inventory histories","x-summary-i18n":{"vie":"Lịch sử xuất nhập kho"},"description":"Get inventory history","x-description-i18n":{"vie":"Lấy lịch sử xuất nhập kho"},"tags":["Warehouse"],"x-tags-i18n":{"vie":["Kho hàng"]},"parameters":[{"name":"SHOP_ID","in":"path","required":true,"schema":{"type":"integer","example":4},"description":"Shop ID","x-description-i18n":{"vie":"Mã shop"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","default":1,"example":1},"description":"Page number","x-description-i18n":{"vie":"Số trang"}},{"name":"page_size","in":"query","required":true,"schema":{"type":"integer","default":30,"example":30},"description":"Page size","x-description-i18n":{"vie":"Kích thước trang"}},{"name":"warehouse_id","in":"query","required":false,"schema":{"type":"string","example":"b4cb5897-6e56-4581-96cc-2f12677c7bd8"},"description":"Warehouse ID","x-description-i18n":{"vie":"Mã kho"}},{"name":"variation_ids[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"example":["415040f4-ab63-465e-8699-e9ebfff4c6c7"]},"description":"Variation IDs","x-description-i18n":{"vie":"Danh sách mã mẫu mã"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"integer","example":0},"description":"Start date (unix timestamp)","x-description-i18n":{"vie":"Ngày bắt đầu"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"integer","example":0},"description":"End date (unix timestamp)","x-description-i18n":{"vie":"Ngày kết thúc"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of inventory histories","x-description-i18n":{"vie":"Danh sách lịch sử xuất nhập kho"},"items":{"type":"object","properties":{"avg_price":{"type":"integer","description":"Average import price","x-description-i18n":{"vie":"Giá nhập trung bình"}},"current_inventory":{"type":"array","description":"Current inventory information","x-description-i18n":{"vie":"Thông tin tồn kho hiện tại"},"items":{"type":"object","properties":{"actual_remain_quantity":{"type":"integer","description":"Actual remain quantity","x-description-i18n":{"vie":"Số lượng tồn thực tế"}},"avg_price":{"type":"number","description":"Average price","x-description-i18n":{"vie":"Giá trung bình"}},"id":{"type":"string","description":"Warehouse ID","x-description-i18n":{"vie":"Mã kho"}},"name":{"type":"string","description":"Warehouse name","x-description-i18n":{"vie":"Tên kho"}},"remain_quantity":{"type":"integer","description":"Remain quantity","x-description-i18n":{"vie":"Số lượng tồn"}},"total_quantity":{"type":"integer","description":"Total quantity","x-description-i18n":{"vie":"Tổng số lượng"}}}}},"editor_id":{"type":"string","description":"Updated employee ID","x-description-i18n":{"vie":"Mã nhân viên cập nhật"}},"id":{"type":"integer","description":"Inventory history ID","x-description-i18n":{"vie":"Mã xuất nhập kho"}},"inserted_at":{"type":"string","format":"date-time","description":"Inserted at","x-description-i18n":{"vie":"Thời điểm tạo"}},"quantity":{"type":"integer","description":"Change quantity","x-description-i18n":{"vie":"Số lượng thay đổi"}},"ref_display_id":{"type":"string","description":"Reference display ID","x-description-i18n":{"vie":"Mã hiển thị tham chiếu"}},"remain_quantity":{"type":"integer","description":"In stock","x-description-i18n":{"vie":"Tồn kho"}},"table_name":{"type":"string","description":"Table name","x-description-i18n":{"vie":"Tên bảng"}},"type":{"type":"string","description":"Type","x-description-i18n":{"vie":"Loại"}},"variation_now":{"type":"object","description":"Variation information","x-description-i18n":{"vie":"Thông tin mẫu mã"},"properties":{"barcode":{"type":"string"},"display_id":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"keyValue":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}}}},"id":{"type":"string"},"images":{"type":"array","items":{"type":"string","format":"uri"}},"is_hidden":{"type":"boolean"},"is_locked":{"type":"boolean"},"is_sell_negative_variation":{"type":"boolean"},"last_imported_price":{"type":"integer"},"product_id":{"type":"string"},"retail_price":{"type":"integer"},"weight":{"type":"integer"}}},"warehouse":{"type":"object","description":"Warehouse change inventory","x-description-i18n":{"vie":"Kho thay đổi tồn"},"properties":{"custom_id":{"type":"string"},"ffm_id":{"type":"string"},"full_address":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"phone_number":{"type":"string"}}}}}},"page_number":{"type":"integer","description":"Page number","x-description-i18n":{"vie":"Số trang"}},"page_size":{"type":"integer","description":"Page size","x-description-i18n":{"vie":"Kích thước trang"}},"success":{"type":"boolean","description":"Success status","x-description-i18n":{"vie":"Trạng thái thành công"}},"total_entries":{"type":"integer","description":"Total entries","x-description-i18n":{"vie":"Tổng số bản ghi"}},"total_pages":{"type":"integer","description":"Total pages","x-description-i18n":{"vie":"Tổng số trang"}}}},"examples":{"default":{"value":{"success":true,"data":[{"avg_price":1,"current_inventory":[{"actual_remain_quantity":1,"avg_price":1,"id":"b4cb5897-6e56-4581-96cc-2f12677c7bd8","name":"kho test ecod","remain_quantity":1,"total_quantity":1}],"editor_id":"cee3c05e-5f85-43c4-b27e-889b99c50097","id":1,"inserted_at":"2024-01-01T00:00:00Z","quantity":1,"ref_display_id":"12345","remain_quantity":1,"table_name":"Purchase","type":"import","variation_now":{"barcode":"BARCODE123","display_id":"13109","fields":[{"id":"field-id-1","keyValue":"Màu","name":"Màu","value":"Trắng"}],"id":"415040f4-ab63-465e-8699-e9ebfff4c6c7","images":["https://statics.pancake.vn/user-content.pancake.vn/2021/8/5/fccd6.jpg"],"is_hidden":true,"is_locked":true,"is_sell_negative_variation":true,"last_imported_price":1,"product_id":"3487e126-b0d9-4dae-89a9-ee60bef2f4e9","retail_price":1,"weight":1},"warehouse":{"custom_id":null,"ffm_id":null,"full_address":"hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu","id":"b4cb5897-6e56-4581-96cc-2f12677c7bd8","name":"kho test ecod","phone_number":"0999999999"}}]}}}}}}}}},"/shops/{SHOP_ID}/orders":{"get":{"summary":"List of orders","x-summary-i18n":{"vie":"Danh sách đơn hàng"},"description":"Get list of orders. Get information of specific order","x-description-i18n":{"vie":"Lấy danh sách đơn hàng thông tin từng đơn hàng cụ thể"},"tags":["Order"],"x-tags-i18n":{"vie":["Đơn hàng"]},"parameters":[{"name":"SHOP_ID","in":"path","required":true,"schema":{"type":"integer","example":4},"description":"Shop ID","x-description-i18n":{"vie":"Mã shop"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":30,"example":30},"description":"Page size","x-description-i18n":{"vie":"Kích thước trang"},"example":100},{"name":"page_number","in":"query","required":false,"schema":{"type":"integer","default":1,"example":1},"description":"Page number","x-description-i18n":{"vie":"Số trang"},"example":1},{"name":"search","in":"query","required":false,"schema":{"type":"string","example":"0999999999"},"description":"Phone number, name of customer, note, ....","x-description-i18n":{"vie":"Số điện thoại, tên khách hàng, ghi chú, ..."},"example":"0999999999"},{"name":"filter_status[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer"},"example":[1,2]},"description":"Order status","x-description-i18n":{"vie":"Trạng thái đơn hàng"},"example":[0,1]},{"name":"include_removed","in":"query","required":false,"schema":{"type":"integer","example":0},"description":"Include removed orders","x-description-i18n":{"vie":"Bao gồm đơn đã xóa"},"example":1},{"name":"updateStatus","in":"query","required":false,"schema":{"type":"string","default":"inserted_at","enum":["inserted_at","updated_at","partner_inserted_at","paid_at","estimate_delivery_date","picked_up_at","first_delivery_at","transfer_proof","time_assign_seller","time_assign_care","time_assign_marketer","-1","0","11","20","1","12","13","8","9","2","3","16","4","15","5"],"x-enum-descriptions":["Order creation time","Last update time","Time sent to courier","Reconciliation time","Estimate delivery time","Courier picked up at","First delivery at","Transfer proof","Time assign seller","Time assign care","Time assign marketer","Last status update","New","Restocking","Purchased","Confirmed","Wait for printing","Printed","Packaging","Waiting for pick up","Shipped","Received","Collected money","Returning","Partial return","Returned"],"x-enum-descriptions-i18n":{"vie":["Thời điểm tạo đơn","Thời điểm cập nhật cuối","Thời điểm gửi đơn vị vận chuyển","Thời điểm đối soát","Thời gian giao hàng dự kiến","Thời điểm đơn vị vận chuyển lấy hàng","Thời điểm giao hàng lần đầu","Chứng từ chuyển khoản","Thời điểm phân công người bán","Thời điểm phân công chăm sóc","Thời điểm phân công marketer","Cập nhật trạng thái cuối","Mới","Chờ hàng","Đã đặt hàng","Đã xác nhận","Chờ in","Đã in","Đang đóng hàng","Chờ chuyển hàng","Đã gửi hàng","Đã nhận","Đã thu tiền","Đang hoàn","Hoàn một phần","Đã hoàn"]},"example":"inserted_at"},"description":"Filter orders by time","x-description-i18n":{"vie":"Lọc đơn hàng theo thời gian"},"x-enum-descriptions-i18n":{"vie":["Thời điểm tạo đơn","Thời điểm cập nhật cuối","Thời điểm gửi đơn vị vận chuyển","Thời điểm đối soát","Thời gian giao hàng dự kiến","Thời điểm đơn vị vận chuyển lấy hàng","Thời điểm giao hàng lần đầu","Chứng từ chuyển khoản","Thời điểm phân công người bán","Thời điểm phân công chăm sóc","Thời điểm phân công marketer","Cập nhật trạng thái cuối","Mới","Chờ hàng","Đã đặt hàng","Đã xác nhận","Chờ in","Đã in","Đang đóng hàng","Chờ chuyển hàng","Đã gửi hàng","Đã nhận","Đã thu tiền","Đang hoàn","Hoàn một phần","Đã hoàn"]}},{"name":"startDateTime","in":"query","required":false,"schema":{"type":"integer","format":"int64","example":0},"description":"Start date (unix timestamp)","x-description-i18n":{"vie":"Ngày bắt đầu"},"example":1699635600},{"name":"endDateTime","in":"query","required":false,"schema":{"type":"integer","format":"int64","example":0},"description":"End date (unix timestamp)","x-description-i18n":{"vie":"Ngày kết thúc"},"example":1699635600},{"name":"option_sort","in":"query","required":false,"schema":{"type":"string","default":"inserted_at_desc","enum":["inserted_at_desc","inserted_at_asc","last_updated_order_desc","last_updated_order_asc","last_update_status_at_desc","last_update_status_at_asc","order_valuation_desc","order_valuation_asc","product_quantity_desc","product_quantity_asc","product_name_desc","product_name_asc","sub_status_sort_desc","sub_status_sort_asc","first_undeliverable_at_desc","first_undeliverable_at_asc","customer_sort_desc","customer_sort_asc","estimate_delivery_date_desc","estimate_delivery_date_asc","order_source_desc","order_source_asc"],"x-enum-descriptions":["Order creation time gradually decreases","Order creation time gradually increases","Last updated order gradually decreases","Last updated order gradually increases","Last update status at gradually decreases","Last update status at gradually increases","Order value gradually decreases","Order value gradually increases","Product quantity gradually decreases","Product quantity gradually increases","Product name gradually decreases","Product name gradually increases","Delivery delay update gradually decreases","Delivery delay update gradually increases","First undeliverable at gradually decreases","First undeliverable at gradually increases","Customer name gradually decreases","Customer name gradually increases","Estimate delivery date gradually decreases","Estimate delivery date gradually increases","Order source gradually decreases","Order source gradually increases"],"x-enum-descriptions-i18n":{"vie":["Thời điểm tạo đơn giảm dần","Thời điểm tạo đơn tăng dần","Cập nhật đơn hàng cuối giảm dần","Cập nhật đơn hàng cuối tăng dần","Cập nhật trạng thái cuối giảm dần","Cập nhật trạng thái cuối tăng dần","Giá trị đơn hàng giảm dần","Giá trị đơn hàng tăng dần","Số lượng sản phẩm giảm dần","Số lượng sản phẩm tăng dần","Tên sản phẩm giảm dần","Tên sản phẩm tăng dần","Cập nhật chậm giao hàng giảm dần","Cập nhật chậm giao hàng tăng dần","Lần đầu không giao được giảm dần","Lần đầu không giao được tăng dần","Tên khách hàng giảm dần","Tên khách hàng tăng dần","Ngày giao hàng dự kiến giảm dần","Ngày giao hàng dự kiến tăng dần","Nguồn đơn hàng giảm dần","Nguồn đơn hàng tăng dần"]},"example":"inserted_at_desc"},"description":"Orders sequence","x-description-i18n":{"vie":"Thứ tự đơn hàng"},"x-enum-descriptions-i18n":{"vie":["Thời điểm tạo đơn giảm dần","Thời điểm tạo đơn tăng dần","Cập nhật đơn hàng cuối giảm dần","Cập nhật đơn hàng cuối tăng dần","Cập nhật trạng thái cuối giảm dần","Cập nhật trạng thái cuối tăng dần","Giá trị đơn hàng giảm dần","Giá trị đơn hàng tăng dần","Số lượng sản phẩm giảm dần","Số lượng sản phẩm tăng dần","Tên sản phẩm giảm dần","Tên sản phẩm tăng dần","Cập nhật chậm giao hàng giảm dần","Cập nhật chậm giao hàng tăng dần","Lần đầu không giao được giảm dần","Lần đầu không giao được tăng dần","Tên khách hàng giảm dần","Tên khách hàng tăng dần","Ngày giao hàng dự kiến giảm dần","Ngày giao hàng dự kiến tăng dần","Nguồn đơn hàng giảm dần","Nguồn đơn hàng tăng dần"]}},{"name":"fields[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"description":"Response fields","x-description-i18n":{"vie":"Các trường trả về"},"example":["id","bill_phone_number"]},{"name":"partner_id[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer"}},"description":"Shipping partner ID on Pancake system","x-description-i18n":{"vie":"ID đơn vị vận chuyển trên hệ thống Pancake"},"example":[1,3]},{"name":"shop_partner_account","in":"query","required":false,"schema":{"type":"integer"},"description":"Filter by shipping account ID connected to the shop","x-description-i18n":{"vie":"Lọc theo mã tài khoản vận chuyển đã kết nối với shop"},"example":46036},{"name":"customer_id","in":"query","required":false,"schema":{"type":"string"},"description":"Customer ID","x-description-i18n":{"vie":"Mã khách hàng"},"example":"96a8e283-3fba-492e-a35a-970f72a30a02"},{"name":"order_sources[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"array","items":{"type":"string"}}},"description":"Order sources. Format: [[order_source_id, account_id], ...]\nExample: [[\"-1\", \"314\"], [\"-3\"]]\n","x-description-i18n":{"vie":"Nguồn đơn hàng. Định dạng: [[mã_nguồn_đơn, mã_tài_khoản], ...]\nVí dụ: [[\"-1\", \"314\"], [\"-3\"]]\n"},"example":[["-1","314"],["-3"]]},{"name":"is_filter_exclude_source","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"Exclude order source","x-description-i18n":{"vie":"Loại trừ nguồn đơn hàng"},"example":true},{"name":"ad_ids[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"description":"Advertising IDs","x-description-i18n":{"vie":"Mã quảng cáo"},"example":["1784439461476385","1784439461473489"]},{"name":"project_ids","in":"query","required":false,"schema":{"type":"integer"},"description":"Project ID","x-description-i18n":{"vie":"Mã dự án"},"example":1},{"name":"extra_fields[]","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["return_rate","conversation_note"],"x-enum-descriptions":["Return rate","Conversation note"],"x-enum-descriptions-i18n":{"vie":["Tỉ lệ đổi hàng","Ghi chú trao đổi"]}}},"description":"Extra fields","x-description-i18n":{"vie":"Các trường bổ sung"},"example":["return_rate","conversation_note"]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of orders","x-description-i18n":{"vie":"Danh sách đơn hàng"},"items":{"type":"object","properties":{"id":{"type":"integer","description":"Order ID","x-description-i18n":{"vie":"Mã đơn hàng"}},"system_id":{"type":"integer","description":"System ID","x-description-i18n":{"vie":"Mã hệ thống"}},"shop_id":{"type":"integer","description":"Shop ID","x-description-i18n":{"vie":"Mã cửa hàng"}},"inserted_at":{"type":"string","format":"date-time","description":"Order creation time","x-description-i18n":{"vie":"Thời điểm tạo đơn"}},"updated_at":{"type":"string","format":"date-time","description":"Order update time","x-description-i18n":{"vie":"Thời điểm cập nhật đơn"}},"status":{"type":"integer","description":"Order status","x-description-i18n":{"vie":"Trạng thái đơn hàng"},"enum":[0,17,11,12,13,20,1,8,9,2,3,16,4,15,5,6,7],"x-enum-descriptions":["New","Waiting for confirmation","Restocking","Wait for printing","Printed","Purchased","Confirmed","Packaging","Waiting for pick up","Shipped","Received","Collected money","Returning","Partial return","Returned","Canceled","Deleted recently"],"x-enum-descriptions-i18n":{"vie":["Mới","Chờ xác nhận","Chờ hàng","Chờ in","Đã in","Đã đặt hàng","Đã xác nhận","Đang đóng hàng","Chờ chuyển hàng","Đã gửi hàng","Đã nhận","Đã thu tiền","Đang hoàn","Hoàn một phần","Đã hoàn","Đã hủy","Đã xóa"]}},"status_name":{"type":"string","description":"Order status name","x-description-i18n":{"vie":"Tên trạng thái đơn hàng"}},"bill_full_name":{"type":"string","description":"Customer name","x-description-i18n":{"vie":"Tên khách hàng"}},"bill_phone_number":{"type":"string","description":"Phone number of customer","x-description-i18n":{"vie":"SĐT khách hàng"}},"bill_email":{"type":"string","description":"Customer email","x-description-i18n":{"vie":"Email khách hàng"}},"conversation_id":{"type":"string","description":"Conversation ID","x-description-i18n":{"vie":"Mã hội thoại"}},"page_id":{"type":"string","description":"Facebook page ID","x-description-i18n":{"vie":"Mã Facebook page"}},"post_id":{"type":"string","description":"Post ID","x-description-i18n":{"vie":"Mã bài viết"}},"ad_id":{"type":"string","description":"Ad ID","x-description-i18n":{"vie":"Mã quảng cáo"}},"shipping_fee":{"type":"integer","description":"Shipping fee","x-description-i18n":{"vie":"Phí vận chuyển"}},"partner_fee":{"type":"integer","description":"Fee from shipping partner","x-description-i18n":{"vie":"Phí vận chuyển từ ĐVVC"}},"fee_marketplace":{"type":"integer","description":"Fees from e-commerce platforms","x-description-i18n":{"vie":"Phí sàn"}},"customer_pay_fee":{"type":"boolean","description":"Customer pay shipping fee","x-description-i18n":{"vie":"Khách trả phí ship"}},"is_free_shipping":{"type":"boolean","description":"Free shipping","x-description-i18n":{"vie":"Miễn phí vận chuyển"}},"is_livestream":{"type":"boolean","description":"Is livestream order","x-description-i18n":{"vie":"Đơn hàng từ livestream"}},"is_live_shopping":{"type":"boolean","description":"Is live shopping order","x-description-i18n":{"vie":"Đơn hàng từ live shopping"}},"is_smc":{"type":"boolean","description":"Shopping on Messenger","x-description-i18n":{"vie":"Đơn hàng từ mua sắm trên Messenger"}},"received_at_shop":{"type":"boolean","description":"true: Sales at counter, false: Sell online","x-description-i18n":{"vie":"true: Bán tại quầy, false: Bán online"}},"total_discount":{"type":"integer","description":"Discount total","x-description-i18n":{"vie":"Tổng tiền giảm giá"}},"note":{"type":"string","description":"Internal note","x-description-i18n":{"vie":"Ghi chú nội bộ"}},"note_print":{"type":"string","description":"Note for printing","x-description-i18n":{"vie":"Ghi chú đơn hàng"}},"returned_reason":{"type":"integer","description":"Return reason code (1: Customer, 2: Staff, 3: Defective product, 4: Shipping carrier, 5: Exchange). Other values are shop-defined custom reasons, see returned_reason_name for the display name","x-description-i18n":{"vie":"Mã lý do hoàn hàng (1: Do khách hàng, 2: Do nhân viên, 3: Do sản phẩm lỗi, 4: Do đơn vị vận chuyển, 5: Do đổi hàng). Mã khác là lý do tùy chỉnh theo từng shop, xem tên hiển thị tại returned_reason_name"}},"returned_reason_name":{"type":"string","description":"Return reason name","x-description-i18n":{"vie":"Tên lý do hoàn hàng"}},"sub_status":{"type":"integer","description":"Reason for delivery delay","x-description-i18n":{"vie":"Lý do delay giao hàng"}},"warehouse_id":{"type":"string","description":"Warehouse ID","x-description-i18n":{"vie":"Mã kho hàng"}},"warehouse_info":{"type":"object","description":"Warehouse information","x-description-i18n":{"vie":"Thông tin kho hàng"},"properties":{"name":{"type":"string","description":"Warehouse name","x-description-i18n":{"vie":"Tên kho hàng"}},"phone_number":{"type":"string","description":"Warehouse phone number","x-description-i18n":{"vie":"Số điện thoại kho hàng"}},"full_address":{"type":"string","description":"Warehouse full address","x-description-i18n":{"vie":"Địa chỉ đầy đủ kho hàng"}},"address":{"type":"string","description":"Warehouse address","x-description-i18n":{"vie":"Địa chỉ chi tiết kho hàng"}},"province_id":{"type":"string","description":"Province ID","x-description-i18n":{"vie":"Mã tỉnh thành phố"}},"district_id":{"type":"string","description":"District ID","x-description-i18n":{"vie":"Mã quận huyện"}},"commune_id":{"type":"string","description":"Commune ID","x-description-i18n":{"vie":"Mã phường xã"}},"affiliate_id":{"type":"string","description":"Affiliate ID","x-description-i18n":{"vie":"Mã đại lý"}},"ffm_id":{"type":"string","description":"FFM ID","x-description-i18n":{"vie":"Mã FFM"}},"has_snappy_service":{"type":"boolean","description":"Has Snappy service","x-description-i18n":{"vie":"Có dịch vụ Snappy"}},"custom_id":{"type":"string","description":"Custom ID","x-description-i18n":{"vie":"Mã tùy chỉnh"}}}},"creator_id":{"type":"string","description":"Creator ID","x-description-i18n":{"vie":"Mã người tạo"}},"creator":{"type":"object","description":"Order creator","x-description-i18n":{"vie":"Thông tin người tạo đơn"},"properties":{"id":{"type":"string","description":"Creator ID","x-description-i18n":{"vie":"Mã người tạo"}},"fb_id":{"type":"string","description":"Facebook ID of creator","x-description-i18n":{"vie":"ID facebook người tạo đơn"}},"name":{"type":"string","description":"Creator name","x-description-i18n":{"vie":"Tên người tạo đơn"}},"avatar_url":{"type":"string","description":"Creator avatar URL","x-description-i18n":{"vie":"Link avatar người tạo"}}}},"items":{"type":"array","description":"Product list. When creating or updating an order, each entry must include `variation_id` and `quantity`. `variation_info` is optional — if omitted, the backend treats it as an empty object; send it (with `retail_price`) when you need the line price to be explicit.","x-description-i18n":{"vie":"Danh sách sản phẩm. Khi tạo hoặc cập nhật đơn, mỗi phần tử cần có `variation_id` và `quantity`. `variation_info` không bắt buộc — nếu thiếu, backend coi như object rỗng; nên gửi kèm (cùng `retail_price`) khi muốn giá dòng hàng tường minh."},"items":{"type":"object","required":["variation_id","quantity"],"properties":{"product_id":{"type":"string","description":"Product ID","x-description-i18n":{"vie":"Mã sản phẩm"}},"quantity":{"type":"integer","description":"Quantity","x-description-i18n":{"vie":"Số lượng"}},"returned_count":{"type":"integer","description":"Returned count","x-description-i18n":{"vie":"Số lượng đã trả"}},"assigning_seller_id":{"type":"string","description":"Assigning seller ID","x-description-i18n":{"vie":"Mã nhân viên được phân công"}},"quantity_by_combo_products":{"type":"array","description":"Quantity by combo products","x-description-i18n":{"vie":"Số lượng theo combo sản phẩm"},"items":{"type":"object"}},"discount_each_product":{"type":"integer","description":"Discount for each product","x-description-i18n":{"vie":"Giảm giá cho từng sản phẩm"}},"is_bonus_product":{"type":"boolean","description":"Is bonus product","x-description-i18n":{"vie":"Sản phẩm tặng kèm"}},"is_discount_percent":{"type":"boolean","description":"Is discount by percent","x-description-i18n":{"vie":"Giảm giá theo phần trăm"}},"is_wholesale":{"type":"boolean","description":"Is wholesale","x-description-i18n":{"vie":"Bán sỉ"}},"is_composite":{"type":"boolean","description":"Is composite product","x-description-i18n":{"vie":"Sản phẩm composite"}},"one_time_product":{"type":"boolean","description":"One time product","x-description-i18n":{"vie":"Sản phẩm một lần"}},"note":{"type":"string","description":"Product note","x-description-i18n":{"vie":"Ghi chú sản phẩm"}},"note_product":{"type":"string","description":"Product note","x-description-i18n":{"vie":"Ghi chú sản phẩm"}},"inserted_at":{"type":"string","format":"date-time","description":"Inserted at","x-description-i18n":{"vie":"Thời điểm tạo"}},"measure_group_id":{"type":"integer","description":"Measure group ID","x-description-i18n":{"vie":"Mã nhóm đơn vị tính"}},"variation_info":{"type":"object","description":"Variation information. Optional when creating/updating an order (the backend defaults it to an empty object if omitted). Its inner fields are not individually required, but sending `retail_price` is recommended so the line price is correct.","x-description-i18n":{"vie":"Thông tin biến thể. Không bắt buộc khi tạo/cập nhật đơn (backend tự coi là object rỗng nếu thiếu). Các field bên trong không bắt buộc riêng lẻ, nhưng nên gửi `retail_price` để giá dòng hàng đúng."},"properties":{"id":{"type":"string","description":"Variation ID","x-description-i18n":{"vie":"Mã biến thể"}},"name":{"type":"string","description":"Product name","x-description-i18n":{"vie":"Tên sản phẩm"}},"product_id":{"type":"string","description":"Product ID","x-description-i18n":{"vie":"Mã sản phẩm"}},"retail_price":{"type":"integer","description":"Retail price. Not strictly required, but recommended when creating/updating an order so the line price is correct.","x-description-i18n":{"vie":"Giá bán lẻ. Không bắt buộc, nhưng nên gửi khi tạo/cập nhật đơn để giá dòng hàng chính xác."}},"detail":{"type":"string","description":"Variation detail","x-description-i18n":{"vie":"Chi tiết biến thể"}},"images":{"type":"array","description":"Variation images","x-description-i18n":{"vie":"Hình ảnh biến thể"},"items":{"type":"string","format":"uri"}},"fields":{"type":"array","description":"Variation fields","x-description-i18n":{"vie":"Thuộc tính biến thể"},"items":{"type":"object","properties":{"id":{"type":"string","description":"Field ID","x-description-i18n":{"vie":"Mã thuộc tính"}},"name":{"type":"string","description":"Field name","x-description-i18n":{"vie":"Tên thuộc tính"}},"value":{"type":"string","description":"Field value","x-description-i18n":{"vie":"Giá trị thuộc tính"}},"keyValue":{"type":"string","description":"Key value","x-description-i18n":{"vie":"Giá trị khóa"}}}}},"barcode":{"type":"string","description":"Barcode","x-description-i18n":{"vie":"Mã barcode"}},"brand_id":{"type":"string","description":"Brand ID","x-description-i18n":{"vie":"Mã thương hiệu"}},"category_ids":{"type":"array","description":"Category IDs","x-description-i18n":{"vie":"Danh sách mã danh mục"},"items":{"type":"integer"}},"display_id":{"type":"string","description":"Display ID","x-description-i18n":{"vie":"Mã hiển thị"}},"product_display_id":{"type":"string","description":"Product display ID","x-description-i18n":{"vie":"Mã hiển thị sản phẩm"}},"last_imported_price":{"type":"integer","description":"Last imported price","x-description-i18n":{"vie":"Giá nhập hàng cuối"}},"is_upsale_product":{"type":"boolean","description":"Upsale product","x-description-i18n":{"vie":"Sản phẩm upsale"}},"weight":{"type":"integer","description":"Weight","x-description-i18n":{"vie":"Khối lượng"}},"measure_info":{"type":"object","description":"Measure information","x-description-i18n":{"vie":"Thông tin đơn vị tính"},"properties":{"measure_id":{"type":"integer","description":"Measure ID","x-description-i18n":{"vie":"Mã đơn vị tính"}},"exchange_value":{"type":"integer","description":"Exchange value","x-description-i18n":{"vie":"Giá trị quy đổi"}}}},"avg_price":{"type":"integer","description":"Average import price","x-description-i18n":{"vie":"Giá nhập trung bình"}}}},"components":{"type":"array","description":"Product components","x-description-i18n":{"vie":"Thành phần sản phẩm"},"items":{"type":"object","properties":{"component_id":{"type":"string","description":"Component ID","x-description-i18n":{"vie":"Mã thành phần"}},"quantity":{"type":"integer","description":"Quantity","x-description-i18n":{"vie":"Số lượng"}},"variation_id":{"type":"string","description":"Variation ID","x-description-i18n":{"vie":"Mã biến thể"}},"variation_info":{"type":"object","description":"Variation information","x-description-i18n":{"vie":"Thông tin biến thể"}}}}},"id":{"type":"integer","description":"Item ID","x-description-i18n":{"vie":"Mã sản phẩm trong đơn"}},"variation_id":{"type":"string","description":"Variation ID","x-description-i18n":{"vie":"Mã biến thể"}}}}},"partner":{"type":"object","description":"Partner information","x-description-i18n":{"vie":"Thông tin đơn vị vận chuyển"},"properties":{"partner_id":{"type":"integer","description":"Partner ID","x-description-i18n":{"vie":"ID đơn vị vận chuyển trên hệ thống Pancake"}},"cod":{"type":"integer","description":"Reconciliation COD","x-description-i18n":{"vie":"Đối soát tiền thu hộ"}},"extend_code":{"type":"string","description":"Shipping order ID on partner system","x-description-i18n":{"vie":"Mã vận đơn"}},"total_fee":{"type":"integer","description":"Total fee","x-description-i18n":{"vie":"Tổng phí"}},"updated_at":{"type":"string","format":"date-time","description":"Updated at","x-description-i18n":{"vie":"Thời điểm cập nhật"}},"delivery_name":{"type":"string","description":"Shipper name","x-description-i18n":{"vie":"Tên người giao hàng"}},"delivery_tel":{"type":"string","description":"Delivery phone","x-description-i18n":{"vie":"Số điện thoại người giao hàng"}},"picked_up_at":{"type":"string","format":"date-time","description":"Picked up at","x-description-i18n":{"vie":"Thời điểm lấy hàng"}},"sort_code":{"type":"string","description":"Sort code","x-description-i18n":{"vie":"Mã phân loại"}},"paid_at":{"type":"string","format":"date-time","description":"Paid at","x-description-i18n":{"vie":"Thời điểm thanh toán"}},"system_created":{"type":"boolean","description":"System created","x-description-i18n":{"vie":"Được tạo bởi hệ thống"}},"extend_update":{"type":"array","description":"Update from courier","x-description-i18n":{"vie":"Cập nhật từ đơn vị vận chuyển"},"items":{"type":"object","properties":{"key":{"type":"string","description":"Update key","x-description-i18n":{"vie":"Mã cập nhật"}},"status":{"type":"string","description":"Status","x-description-i18n":{"vie":"Trạng thái"}},"tracking_id":{"type":"string","description":"Partner extend code","x-description-i18n":{"vie":"Mã đơn hàng đối tác"}},"note":{"type":"string","description":"Courier notes","x-description-i18n":{"vie":"Ghi chú từ đơn vị vận chuyển"}},"update_at":{"type":"string","format":"date-time","description":"Updated at","x-description-i18n":{"vie":"Thời điểm cập nhật"}}}}},"partner_status":{"type":"string","nullable":true,"description":"Partner shipping status","x-description-i18n":{"vie":"Trạng thái vận chuyển"},"enum":["waiting","request_received","processing_picked_up","picking_up","delay_pickup","picked_up","waiting_on_the_way","on_the_way","contact_delivery_company","out_for_delivery","delay_delivery","inform_recipient","undeliverable","waiting_for_return","delivered","delivered_cod","returning","returned","returned_cod","canceled"],"x-enum-descriptions":["Waiting for processing","Carrier received the request","Processing pickup","Picking up","Delayed pickup","Picked up","Waiting for transit","In transit","Contact the carrier","Out for delivery","Delayed delivery","Notify the recipient","Undeliverable","Waiting for return","Delivered","Delivered, COD reconciled","Returning","Returned","Returned, COD reconciled","Canceled"],"x-enum-descriptions-i18n":{"vie":["Chờ xử lý","ĐVVC đã tiếp nhận đơn","Đang xử lý lấy hàng","Đang lấy hàng","Trễ lấy hàng","Đã lấy hàng","Chờ trung chuyển","Đang trung chuyển","Liên hệ ĐVVC","Đang giao hàng","Trễ giao hàng","Thông báo cho người nhận","Giao không thành","Chờ chuyển hoàn","Đã giao hàng","Đã giao hàng, đã đối soát COD","Đang chuyển hoàn","Đã chuyển hoàn","Đã chuyển hoàn, đã đối soát COD","Đã hủy vận đơn"]}},"partner_name":{"type":"string","nullable":true,"description":"Partner name","x-description-i18n":{"vie":"Tên đơn vị vận chuyển"}},"first_delivery_at":{"type":"string","format":"date-time","nullable":true,"description":"First delivery time","x-description-i18n":{"vie":"Thời điểm giao hàng lần đầu"}},"first_undeliverable_at":{"type":"string","format":"date-time","nullable":true,"description":"First failed delivery time","x-description-i18n":{"vie":"Thời điểm giao hàng thất bại lần đầu"}},"order_number_vtp":{"type":"string","nullable":true,"description":"Viettel Post tracking number","x-description-i18n":{"vie":"Mã vận đơn Viettel Post"}},"printed_form":{"type":"object","nullable":true,"description":"Printed form","x-description-i18n":{"vie":"Mẫu in"}}}},"shipping_address":{"$ref":"#/components/schemas/ShippingAddress"},"payment_purchase_histories":{"type":"array","description":"Payment histories","x-description-i18n":{"vie":"Lịch sử thanh toán"},"items":{"type":"object","properties":{"amount":{"type":"integer","description":"Amount of money","x-description-i18n":{"vie":"Số tiền"}},"type":{"type":"string","description":"Payment type","x-description-i18n":{"vie":"Loại thanh toán"}},"inserted_at":{"type":"string","format":"date-time","description":"Transaction time","x-description-i18n":{"vie":"Thời điểm giao dịch"}},"result_code":{"type":"string","description":"Result code","x-description-i18n":{"vie":"Mã kết quả"}},"ipn_reply":{"type":"boolean","description":"IPN reply","x-description-i18n":{"vie":"Phản hồi IPN"}},"voucher_amount":{"type":"integer","description":"Voucher amount","x-description-i18n":{"vie":"Số tiền voucher"}},"tags":{"type":"array","description":"Tags","x-description-i18n":{"vie":"Thẻ"},"items":{"type":"string"}}}}},"tags":{"type":"array","description":"Tags list","x-description-i18n":{"vie":"Danh sách thẻ đơn hàng"},"items":{"type":"object","properties":{"id":{"type":"integer","description":"Tag ID","x-description-i18n":{"vie":"Mã thẻ đơn hàng"}},"name":{"type":"string","description":"Tag name","x-description-i18n":{"vie":"Tên thẻ đơn hàng"}}}}},"marketer":{"type":"object","description":"Marketer information","x-description-i18n":{"vie":"Thông tin marketer"},"properties":{"id":{"type":"string","description":"Marketer ID","x-description-i18n":{"vie":"Mã marketer"}},"name":{"type":"string","description":"Marketer name","x-description-i18n":{"vie":"Tên marketer"}},"email":{"type":"string","description":"Marketer email","x-description-i18n":{"vie":"Email marketer"}},"phone_number":{"type":"string","description":"Marketer phone number","x-description-i18n":{"vie":"Số điện thoại marketer"}},"fb_id":{"type":"string","description":"Marketer Facebook ID","x-description-i18n":{"vie":"Facebook ID marketer"}},"avatar_url":{"type":"string","description":"Marketer avatar URL","x-description-i18n":{"vie":"Link avatar marketer"}}}},"pke_mkter":{"type":"string","description":"Marketer ID","x-description-i18n":{"vie":"Mã nhân viên marketer"}},"activated_combo_products":{"type":"object","description":"Activated combo products information","x-description-i18n":{"vie":"Thông tin combo sản phẩm được kích hoạt"},"properties":{"combo_product_id":{"type":"integer","description":"Combo product ID","x-description-i18n":{"vie":"Mã combo sản phẩm"}},"quantity_combo_activated":{"type":"integer","description":"Quantity combo activated","x-description-i18n":{"vie":"Số lượng combo được kích hoạt"}},"combo_product_info":{"type":"object","description":"Combo product information","x-description-i18n":{"vie":"Thông tin combo sản phẩm"}}}},"activated_promotion_advances":{"type":"array","description":"Activated promotion advances information","x-description-i18n":{"vie":"Thông tin khuyến mãi được kích hoạt"},"items":{"type":"object","properties":{"id":{"type":"integer","description":"ID","x-description-i18n":{"vie":"Mã"}},"promotion_advance_id":{"type":"string","description":"Promotion advance ID","x-description-i18n":{"vie":"Mã khuyến mãi"}},"promotion_advance_info":{"type":"object","description":"Promotion advance information","x-description-i18n":{"vie":"Thông tin khuyến mãi"}}}}},"invoice_info_list":{"type":"array","description":"Invoice information list","x-description-i18n":{"vie":"Danh sách thông tin hóa đơn"},"items":{"type":"object","properties":{"error":{"type":"string","description":"Error message if any","x-description-i18n":{"vie":"Thông báo lỗi nếu có"}},"invoice_detail":{"type":"object","description":"Invoice detail information","x-description-i18n":{"vie":"Chi tiết thông tin hóa đơn"},"properties":{"company_address":{"type":"string","description":"Company address","x-description-i18n":{"vie":"Địa chỉ công ty"}},"company_address_breakdown":{"type":"object","description":"Company address breakdown","x-description-i18n":{"vie":"Chi tiết địa chỉ công ty"},"properties":{"company_additional_info":{"type":"string","description":"Company additional information","x-description-i18n":{"vie":"Thông tin bổ sung công ty"}},"company_barangay":{"type":"string","description":"Company barangay","x-description-i18n":{"vie":"Phường/xã công ty"}},"company_city":{"type":"string","description":"Company city","x-description-i18n":{"vie":"Thành phố công ty"}},"company_detailed_address":{"type":"string","description":"Company detailed address","x-description-i18n":{"vie":"Địa chỉ chi tiết công ty"}},"company_district":{"type":"string","description":"Company district","x-description-i18n":{"vie":"Quận/huyện công ty"}},"company_full_address":{"type":"string","description":"Company full address","x-description-i18n":{"vie":"Địa chỉ đầy đủ công ty"}},"company_postcode":{"type":"string","description":"Company postcode","x-description-i18n":{"vie":"Mã bưu điện công ty"}},"company_province":{"type":"string","description":"Company province","x-description-i18n":{"vie":"Tỉnh công ty"}},"company_region":{"type":"string","description":"Company region","x-description-i18n":{"vie":"Vùng/khu vực công ty"}},"company_state":{"type":"string","description":"Company state","x-description-i18n":{"vie":"Bang/tỉnh công ty"}},"company_town":{"type":"string","description":"Company town","x-description-i18n":{"vie":"Thị trấn/phường công ty"}}}},"company_email":{"type":"string","description":"Company email","x-description-i18n":{"vie":"Email công ty"}},"company_name":{"type":"string","description":"Company name","x-description-i18n":{"vie":"Tên công ty"}},"company_tax_id":{"type":"string","description":"Company tax ID","x-description-i18n":{"vie":"Mã số thuế công ty"}}}},"invoice_type":{"type":"string","description":"Invoice type","x-description-i18n":{"vie":"Loại hóa đơn"}},"is_requested":{"type":"boolean","description":"Request for invoice","x-description-i18n":{"vie":"Yêu cầu xuất hóa đơn"}},"order_sn":{"type":"string","description":"Order code on the marketplace","x-description-i18n":{"vie":"Mã đơn hàng trên sàn"}}}}},"reports_by_phone":{"type":"object","description":"Reports by phone number","x-description-i18n":{"vie":"Báo cáo theo số điện thoại"},"properties":{"order_fail":{"type":"integer","description":"Number of failed orders","x-description-i18n":{"vie":"Số đơn thất bại"}},"order_success":{"type":"integer","description":"Number of successful orders","x-description-i18n":{"vie":"Số đơn thành công"}},"warning":{"type":"integer","description":"Number of warnings orders","x-description-i18n":{"vie":"Số đơn cảnh báo"}}},"example":{"+639175706297":{"order_fail":29,"order_success":20,"warning":0}}},"tracking_link":{"type":"string","description":"Link confirm order","x-description-i18n":{"vie":"Link xác nhận đơn hàng"}},"ads_source":{"type":"string","description":"Advertising source","x-description-i18n":{"vie":"Nguồn quảng cáo"}},"bank_payments":{"type":"object","description":"Payment method","x-description-i18n":{"vie":"Phương thức thanh toán"}},"transfer_proofs":{"type":"array","description":"Bank transfer payment proofs, including verification time, amount and receipt images","x-description-i18n":{"vie":"Danh sách chứng từ xác thực chuyển khoản, gồm ngày giờ xác thực, số tiền và ảnh chứng từ"},"items":{"type":"object","properties":{"id":{"type":"integer","description":"Transfer proof ID","x-description-i18n":{"vie":"Mã chứng từ chuyển khoản"}},"order_id":{"type":"integer","description":"Order ID","x-description-i18n":{"vie":"Mã đơn hàng"}},"shop_id":{"type":"integer","description":"Shop ID","x-description-i18n":{"vie":"Mã cửa hàng"}},"payment_id":{"type":"string","description":"Bank payment method ID (matches a key in `bank_payments`)","x-description-i18n":{"vie":"Mã phương thức thanh toán ngân hàng (trùng với key trong `bank_payments`)"}},"amount":{"type":"integer","description":"Transferred amount","x-description-i18n":{"vie":"Số tiền chuyển khoản"}},"images":{"type":"array","description":"Transfer receipt images","x-description-i18n":{"vie":"Danh sách ảnh chứng từ chuyển khoản"},"items":{"type":"string"}},"note":{"type":"string","nullable":true,"description":"Note","x-description-i18n":{"vie":"Ghi chú"}},"is_income":{"type":"boolean","description":"Money received (true) or paid out (false)","x-description-i18n":{"vie":"Là khoản tiền nhận vào (true) hay chi ra (false)"}},"is_verify":{"type":"boolean","description":"Whether the transfer has been verified","x-description-i18n":{"vie":"Chứng từ đã được xác thực hay chưa"}},"verify_at":{"type":"string","format":"date-time","nullable":true,"description":"Verification time","x-description-i18n":{"vie":"Thời điểm xác thực chuyển khoản"}},"verifier":{"type":"object","nullable":true,"description":"Verifier information","x-description-i18n":{"vie":"Thông tin người xác thực"},"properties":{"id":{"type":"string","description":"Verifier ID","x-description-i18n":{"vie":"Mã người xác thực"}},"name":{"type":"string","description":"Verifier name","x-description-i18n":{"vie":"Tên người xác thực"}},"fb_id":{"type":"string","description":"Facebook ID of verifier","x-description-i18n":{"vie":"Facebook ID người xác thực"}},"avatar_url":{"type":"string","description":"Verifier avatar URL","x-description-i18n":{"vie":"Link avatar người xác thực"}}}},"creator":{"type":"object","nullable":true,"description":"Creator information","x-description-i18n":{"vie":"Thông tin người tạo chứng từ"},"properties":{"id":{"type":"string","description":"Creator ID","x-description-i18n":{"vie":"Mã người tạo"}},"name":{"type":"string","description":"Creator name","x-description-i18n":{"vie":"Tên người tạo"}},"fb_id":{"type":"string","description":"Facebook ID of creator","x-description-i18n":{"vie":"Facebook ID người tạo"}},"avatar_url":{"type":"string","description":"Creator avatar URL","x-description-i18n":{"vie":"Link avatar người tạo"}}}},"last_editor":{"type":"object","nullable":true,"description":"Last editor information","x-description-i18n":{"vie":"Thông tin người chỉnh sửa cuối"},"properties":{"id":{"type":"string","description":"Editor ID","x-description-i18n":{"vie":"Mã người chỉnh sửa"}},"name":{"type":"string","description":"Editor name","x-description-i18n":{"vie":"Tên người chỉnh sửa"}},"fb_id":{"type":"string","description":"Facebook ID of editor","x-description-i18n":{"vie":"Facebook ID người chỉnh sửa"}},"avatar_url":{"type":"string","description":"Editor avatar URL","x-description-i18n":{"vie":"Link avatar người chỉnh sửa"}}}},"order_info":{"type":"object","nullable":true,"description":"Additional order information","x-description-i18n":{"vie":"Thông tin đơn hàng bổ sung"}},"inserted_at":{"type":"string","format":"date-time","description":"Transfer proof creation time","x-description-i18n":{"vie":"Thời điểm tạo chứng từ"}},"updated_at":{"type":"string","format":"date-time","description":"Transfer proof update time","x-description-i18n":{"vie":"Thời điểm cập nhật chứng từ"}}}}},"shopify_order_id":{"type":"string","description":"Shopify order ID","x-description-i18n":{"vie":"Mã đơn hàng Shopify"}},"shopify_abandon_checkout_id":{"type":"integer","description":"Shopify abandon checkout ID","x-description-i18n":{"vie":"Mã Shopify abandon checkout"}},"is_abandoned_order":{"type":"boolean","description":"Abandoned-cart flag for creating or updating an order. Send it directly in the request body, not inside `third_party` or `third_party_infomation`.\nAn explicit value, including `false`, takes precedence over automatic detection. If omitted on creation, the flag is determined automatically; if omitted on update, the current value is preserved.\nOnly boolean `true` or string `\"true\"` is normalized to `true`; all other submitted values become `false`.\n","x-description-i18n":{"vie":"Cờ đơn chưa hoàn tất khi tạo hoặc cập nhật đơn. Truyền trực tiếp trong body, không bọc trong `third_party` hoặc `third_party_infomation`.\nGiá trị truyền lên, kể cả `false`, được ưu tiên hơn kết quả nhận diện tự động. Nếu bỏ qua khi tạo đơn, cờ được xác định tự động; nếu bỏ qua khi cập nhật, giữ nguyên giá trị hiện tại.\nChỉ boolean `true` hoặc chuỗi `\"true\"` được chuẩn hóa thành `true`; mọi giá trị khác được gửi lên đều thành `false`.\n"},"example":true},"cod":{"type":"integer","description":"Cash on delivery","x-description-i18n":{"vie":"Tiền thu hộ"}},"cash":{"type":"integer","description":"Cash payment","x-description-i18n":{"vie":"Tiền mặt"}},"account":{"type":"integer","description":"Order source ID","x-description-i18n":{"vie":"Mã nguồn đơn hàng"}},"account_name":{"type":"string","description":"Order source name","x-description-i18n":{"vie":"Tên mã nguồn đơn"}},"advanced_platform_fee":{"type":"object","description":"Fees from e-commerce platforms","x-description-i18n":{"vie":"Phí từ sàn thương mại điện tử"},"properties":{"ads_top_up":{"type":"integer","description":"Ads wallet top-up","x-description-i18n":{"vie":"Ví quảng cáo"}},"affiliate_commission":{"type":"integer","description":"Affiliate commission","x-description-i18n":{"vie":"Phí hoa hồng (Sàn TMĐT)"}},"diff_shipping_fee":{"type":"integer","description":"Difference shipping fee","x-description-i18n":{"vie":"Chênh lệch phí vận chuyển (Sàn TMĐT)"}},"marketplace_voucher":{"type":"integer","description":"Marketplace voucher","x-description-i18n":{"vie":"Sàn trợ giá"}},"payment_fee":{"type":"integer","description":"Payment fee","x-description-i18n":{"vie":"Phí cố định, giao dịch (Sàn TMĐT)"}},"platform_commission":{"type":"integer","description":"Platform commission","x-description-i18n":{"vie":"Phí hoa hồng nền tảng (Sàn TMĐT)"}},"seller_transaction_fee":{"type":"integer","description":"Seller transaction fee","x-description-i18n":{"vie":"Phí thanh toán (Sàn TMĐT)"}},"service_fee":{"type":"integer","description":"Service fee","x-description-i18n":{"vie":"Phí dịch vụ (Sàn TMĐT)"}},"sfp_service_fee":{"type":"integer","description":"SFP service fee","x-description-i18n":{"vie":"Phí dịch vụ SFP (Sàn TMĐT)"}}}},"printing_count":{"type":"integer","description":"Printing count","x-description-i18n":{"vie":"Số lần in"}},"money_to_collect":{"type":"integer","description":"Money to collect","x-description-i18n":{"vie":"Số tiền cần thu"}},"marketplace_id":{"type":"string","description":"Marketplace ID","enum":["-2","-3","-4","-9","-16","-17","-20","-25","-27","-28"],"x-enum-descriptions":{"-2":"Tiki","-3":"Shopee","-4":"Lazada","-9":"TikTok","-16":"WooCommerce","-17":"Shopify","-20":"Line Shopping","-25":"Tokopedia","-27":"Mercado Libre","-28":"Tiendanube"},"x-description-i18n":{"vie":"Mã sàn thương mại điện tử"}},"total_price":{"type":"integer","description":"Total price","x-description-i18n":{"vie":"Tổng giá trị sản phẩm"}},"shop_customer_address_id":{"type":"string","description":"Customer address ID","x-description-i18n":{"vie":"Mã địa chỉ khách hàng"}},"customer":{"type":"object","description":"Customer information","x-description-i18n":{"vie":"Thông tin khách hàng"},"properties":{"fb_id":{"type":"string","description":"Customer Facebook ID","x-description-i18n":{"vie":"Facebook ID khách hàng"}},"id":{"type":"string","description":"Customer ID","x-description-i18n":{"vie":"Mã khách hàng"}},"name":{"type":"string","description":"Customer name","x-description-i18n":{"vie":"Tên khách hàng"}},"page_id":{"type":"string","description":"Page ID","x-description-i18n":{"vie":"Mã trang"}}}},"total_quantity":{"type":"integer","description":"Total quantity","x-description-i18n":{"vie":"Tổng số lượng"}},"time_assign_marketer":{"type":"string","format":"date-time","description":"Time assign marketer","x-description-i18n":{"vie":"Thời điểm phân công marketer"}},"p_utm_source":{"type":"string","description":"UTM Source","x-description-i18n":{"vie":"UTM Source"}},"p_utm_medium":{"type":"string","description":"UTM Medium","x-description-i18n":{"vie":"UTM Medium"}},"p_utm_campaign":{"type":"string","description":"UTM Campaign","x-description-i18n":{"vie":"UTM Campaign"}},"p_utm_term":{"type":"string","description":"UTM Term","x-description-i18n":{"vie":"UTM Term"}},"p_utm_content":{"type":"string","description":"UTM Content","x-description-i18n":{"vie":"UTM Content"}},"p_utm_id":{"type":"string","description":"UTM ID","x-description-i18n":{"vie":"UTM ID"}},"utm_affiliate":{"type":"string","description":"Affiliate","x-description-i18n":{"vie":"Affiliate"}},"link":{"type":"string","description":"Link","x-description-i18n":{"vie":"Link"}},"status_history":{"type":"array","description":"Status update history","x-description-i18n":{"vie":"Lịch sử cập nhật trạng thái"},"items":{"type":"object","properties":{"avatar_url":{"type":"string","description":"Avatar URL","x-description-i18n":{"vie":"Link avatar"}},"editor":{"type":"object","description":"Editor information","x-description-i18n":{"vie":"Thông tin người chỉnh sửa"}},"editor_fb":{"type":"string","description":"Editor Facebook ID","x-description-i18n":{"vie":"Facebook ID người chỉnh sửa"}},"editor_id":{"type":"string","description":"Editor ID","x-description-i18n":{"vie":"Mã người chỉnh sửa"}},"name":{"type":"string","description":"Name","x-description-i18n":{"vie":"Tên"}},"old_status":{"type":"integer","description":"Old status","x-description-i18n":{"vie":"Trạng thái cũ"}},"status":{"type":"integer","description":"Status","x-description-i18n":{"vie":"Trạng thái"}},"updated_at":{"type":"string","format":"date-time","description":"Updated at","x-description-i18n":{"vie":"Thời điểm cập nhật"}}}}},"duplicated_phone":{"type":"boolean","description":"Duplicated phone","x-description-i18n":{"vie":"Số điện thoại trùng lặp"}},"order_currency":{"type":"string","description":"Order currency","x-description-i18n":{"vie":"Loại tiền tệ"}},"charged_by_vnpay":{"type":"integer","description":"Charged by VNPay","x-description-i18n":{"vie":"Số tiền thanh toán qua VNPay"}},"charged_by_qrpay":{"type":"integer","description":"Charged by QRPay","x-description-i18n":{"vie":"Số tiền khách thanh toán qua QRPAY"}},"custom_id":{"type":"string","description":"Custom ID","x-description-i18n":{"vie":"Mã tùy chỉnh"}},"last_editor":{"type":"object","description":"Last editor information","x-description-i18n":{"vie":"Thông tin người chỉnh sửa cuối cùng đơn hàng"},"properties":{"id":{"type":"string","description":"Editor ID","x-description-i18n":{"vie":"Mã người chỉnh sửa"}},"fb_id":{"type":"string","description":"Facebook ID of editor","x-description-i18n":{"vie":"Facebook ID người chỉnh sửa"}},"name":{"type":"string","description":"Editor name","x-description-i18n":{"vie":"Tên người chỉnh sửa"}},"email":{"type":"string","description":"Editor email","x-description-i18n":{"vie":"Email người chỉnh sửa"}},"avatar_url":{"type":"string","description":"Editor avatar URL","x-description-i18n":{"vie":"Link avatar người chỉnh sửa"}},"phone_number":{"type":"string","description":"Editor phone number","x-description-i18n":{"vie":"Số điện thoại người chỉnh sửa"}}}},"last_editor_id":{"type":"string","description":"Last editor ID","x-description-i18n":{"vie":"Mã người sửa cuối"}},"charged_by_momo":{"type":"integer","description":"Charged by MoMo","x-description-i18n":{"vie":"Số tiền khách thanh toán qua MOMO"}},"prepaid_by_point":{"type":"object","description":"Prepaid by point","x-description-i18n":{"vie":"Thanh toán bằng điểm thưởng"},"properties":{"money":{"type":"integer","description":"Money amount","x-description-i18n":{"vie":"Số tiền"},"example":15000},"point":{"type":"integer","description":"Point amount","x-description-i18n":{"vie":"Số điểm"},"example":15}},"example":{"money":15000,"point":15}},"bank_transfer_images":{"type":"array","description":"Bank transfer images","x-description-i18n":{"vie":"Hình ảnh chuyển khoản"},"items":{"type":"string","format":"uri"}},"transfer_money":{"type":"integer","description":"Transfer money","x-description-i18n":{"vie":"Số tiền khách chuyển khoản"}},"lock_order_by_user":{"type":"string","description":"Lock order by user ID","x-description-i18n":{"vie":"Mã người dùng khóa đơn hàng"}},"assigning_care":{"type":"object","description":"Assigning care information","x-description-i18n":{"vie":"Nhân viên chăm sóc"},"properties":{"id":{"type":"string","description":"Care ID","x-description-i18n":{"vie":"Mã người chăm sóc"}},"fb_id":{"type":"string","description":"Facebook ID of care","x-description-i18n":{"vie":"Facebook ID người chăm sóc"}},"name":{"type":"string","description":"Care name","x-description-i18n":{"vie":"Tên người chăm sóc"}},"email":{"type":"string","description":"Care email","x-description-i18n":{"vie":"Email người chăm sóc"}},"avatar_url":{"type":"string","description":"Care avatar URL","x-description-i18n":{"vie":"Link avatar người chăm sóc"}},"phone_number":{"type":"string","description":"Care phone number","x-description-i18n":{"vie":"Số điện thoại người chăm sóc"}}}},"assigning_care_id":{"type":"string","description":"Assigning care ID","x-description-i18n":{"vie":"Mã nhân viên chăm sóc"}},"time_assign_care":{"type":"string","format":"date-time","description":"Time assign care","x-description-i18n":{"vie":"Thời điểm phân công chăm sóc"}},"assigning_seller":{"type":"object","description":"Assigning seller information","x-description-i18n":{"vie":"Nhân viên được phân công"},"properties":{"id":{"type":"string","description":"Seller ID","x-description-i18n":{"vie":"Mã người bán"}},"fb_id":{"type":"string","description":"Facebook ID of seller","x-description-i18n":{"vie":"Facebook ID người bán"}},"name":{"type":"string","description":"Seller name","x-description-i18n":{"vie":"Tên người bán"}},"email":{"type":"string","description":"Seller email","x-description-i18n":{"vie":"Email người bán"}},"avatar_url":{"type":"string","description":"Seller avatar URL","x-description-i18n":{"vie":"Link avatar người bán"}},"phone_number":{"type":"string","description":"Seller phone number","x-description-i18n":{"vie":"Số điện thoại người bán"}}}},"einvoices":{"type":"array","items":{"$ref":"#/components/schemas/EInvoice"}},"charged_by_card":{"type":"integer","description":"Charged by card","x-description-i18n":{"vie":"Số tiền khách quẹt thẻ"}},"estimate_delivery_date":{"type":"string","format":"date-time","description":"Estimate delivery date","x-description-i18n":{"vie":"Ngày giao hàng dự kiến"}},"order_sources":{"type":"string","description":"Order sources ID","x-description-i18n":{"vie":"Mã nguồn đơn hàng"}},"charged_by_fundiin":{"type":"integer","description":"Charged by Fundiin","x-description-i18n":{"vie":"Số tiền thanh toán qua Fundiin"}},"surcharge":{"type":"integer","description":"Surcharge","x-description-i18n":{"vie":"Phụ thu"}},"is_linked_partner":{"type":"boolean","description":"Is linked partner","x-description-i18n":{"vie":"Đã liên kết đối tác"}},"call_laters":{"type":"array","description":"Call laters","x-description-i18n":{"vie":"Gọi lại sau"},"items":{"type":"object"}},"last_update_status_at":{"type":"string","format":"date-time","description":"Last update status at","x-description-i18n":{"vie":"Thời điểm cập nhật trạng thái cuối"}},"discount_by_customer_level":{"type":"integer","description":"Discount by customer level","x-description-i18n":{"vie":"Giảm giá theo cấp độ khách hàng"}},"viewing":{"type":"array","description":"Viewing","x-description-i18n":{"vie":"NV đang xem"},"items":{"type":"object"}},"additional_info":{"type":"object","description":"Additional info","x-description-i18n":{"vie":"Thông tin bổ sung"},"properties":{"service_partner":{"type":"string","description":"Service partner","x-description-i18n":{"vie":"Dịch vụ vận chuyển"},"enum":["instant"],"x-enum-descriptions":["Instant"],"x-enum-descriptions-i18n":{"vie":["Hỏa tốc"]}},"delivery_deadline":{"type":"string","format":"date-time","description":"Delivery deadline (ISO8601, no timezone). Send null to clear.","x-description-i18n":{"vie":"Hạn giao hàng (ISO8601, không kèm timezone). Gửi null để xóa."},"example":"2026-06-03T10:00:00"}}},"order_returned_ids":{"type":"string","description":"Order returned IDs","x-description-i18n":{"vie":"Mã đơn hàng đổi trả"}},"cost_surcharge":{"type":"integer","description":"Cost surcharge","x-description-i18n":{"vie":"Phụ phí"}},"time_send_partner":{"type":"string","format":"date-time","description":"Time send partner","x-description-i18n":{"vie":"Thời điểm gửi đơn vị vận chuyển"}},"charged_by_kredivo":{"type":"integer","description":"Charged by Kredivo","x-description-i18n":{"vie":"Số tiền thanh toán qua Kredivo"}},"discount":{"type":"integer","description":"Discount","x-description-i18n":{"vie":"Giảm giá"}},"histories":{"type":"array","description":"Histories","x-description-i18n":{"vie":"Lịch sử"},"items":{"type":"object"}},"duplicated_customer":{"type":"boolean","description":"Duplicated customer","x-description-i18n":{"vie":"Khách hàng trùng lặp"}},"customer_referral_code":{"type":"object","description":"Customer referral code","x-description-i18n":{"vie":"Mã giới thiệu khách hàng"},"properties":{"active":{"type":"string","description":"Active status","x-description-i18n":{"vie":"Trạng thái kích hoạt"},"example":"true"},"customer_id":{"type":"string","format":"uuid","description":"Customer ID","x-description-i18n":{"vie":"Mã khách hàng"},"example":"09bb9399-45f3-4897-a53a-85dde2f886fe"},"discount":{"type":"string","description":"Discount value","x-description-i18n":{"vie":"Giá trị giảm giá"},"example":"10"},"format":{"type":"string","description":"Referral code format","x-description-i18n":{"vie":"Định dạng mã giới thiệu"},"example":"{PHONE_NUMBER}"},"free_products_priced_between_approx":{"type":"object","description":"Free products priced between approximately","x-description-i18n":{"vie":"Miễn phí cho khách mới sản phẩm có giá"},"properties":{"active":{"type":"string","description":"Active status","x-description-i18n":{"vie":"Trạng thái kích hoạt"},"example":"true"},"operator":{"type":"string","description":"Comparison operator","x-description-i18n":{"vie":"Toán tử so sánh"},"example":"GreaterOrEqual"},"price":{"type":"string","description":"Price threshold","x-description-i18n":{"vie":"Ngưỡng giá"},"example":"150000"}}},"is_percent":{"type":"string","description":"Discount is percentage","x-description-i18n":{"vie":"Giảm giá theo phần trăm"},"example":"true"},"only_customers_with_level_will_have_referral_code":{"type":"string","description":"Only customers with level will have referral code","x-description-i18n":{"vie":"Chỉ khách hàng có cấp độ mới có mã giới thiệu"},"example":"true"},"referral_code":{"type":"string","description":"Referral code","x-description-i18n":{"vie":"Mã giới thiệu"},"example":"982843759"},"reward_points_for_old_customers":{"type":"object","description":"Reward points for customers","x-description-i18n":{"vie":"Điểm thưởng khách hàng"},"properties":{"active":{"type":"string","description":"Active status","x-description-i18n":{"vie":"Trạng thái kích hoạt"},"example":"true"},"money":{"type":"string","description":"Money reward","x-description-i18n":{"vie":"Tiền thưởng"},"example":"10000"},"point":{"type":"string","description":"Point reward","x-description-i18n":{"vie":"Điểm thưởng"},"example":"1"}}},"shop_customer_id":{"type":"string","format":"uuid","description":"Shop customer ID","x-description-i18n":{"vie":"Mã khách hàng shop"},"example":"f8160a4c-dfa7-4ee8-b540-d245755ea1f1"}},"example":{"active":"true","customer_id":"09bb9399-45f3-4897-a53a-85dde2f886fe","discount":"10","format":"{PHONE_NUMBER}","free_products_priced_between_approx":{"active":"true","operator":"GreaterOrEqual","price":"150000"},"is_percent":"true","only_customers_with_level_will_have_referral_code":"true","referral_code":"982843759","reward_points_for_old_customers":{"active":"true","money":"10000","point":"1"},"shop_customer_id":"f8160a4c-dfa7-4ee8-b540-d245755ea1f1"}},"tax":{"type":"integer","description":"Tax","x-description-i18n":{"vie":"Thuế"}},"is_from_ecommerce":{"type":"boolean","description":"Is from e-commerce","x-description-i18n":{"vie":"Đơn hàng từ sàn thương mại điện tử"}},"note_image":{"type":"array","description":"Note images","x-description-i18n":{"vie":"Link hình ảnh ghi chú"},"items":{"type":"string","format":"uri"}},"shopify_draft_order_id":{"type":"string","description":"Shopify draft order ID","x-description-i18n":{"vie":"Mã đơn hàng nháp Shopify"}},"display_id":{"type":"integer","description":"Display ID","x-description-i18n":{"vie":"Mã hiển thị"}},"shop_partner_id":{"type":"integer","description":"Shop partner ID","x-description-i18n":{"vie":"Mã đối tác shop"}},"is_locked":{"type":"boolean","description":"Order lock","x-description-i18n":{"vie":"Khóa đơn hàng"}},"merge_order":{"type":"boolean","description":"Allows merging orders","x-description-i18n":{"vie":"Cho phép gộp đơn"}}}}},"page_number":{"type":"integer","description":"Page number","x-description-i18n":{"vie":"Số trang"}},"page_size":{"type":"integer","description":"Page size","x-description-i18n":{"vie":"Kích thước trang"}},"success":{"type":"boolean","description":"Success status","x-description-i18n":{"vie":"Trạng thái thành công"}},"total_entries":{"type":"integer","description":"Total entries","x-description-i18n":{"vie":"Tổng số bản ghi"}},"total_pages":{"type":"integer","description":"Total pages","x-description-i18n":{"vie":"Tổng số trang"}}}},"examples":{"default":{"value":{"data":[{"id":1418,"system_id":1,"shop_id":4,"inserted_at":"2020-05-12T04:51:42","updated_at":"2020-05-12T04:51:54","status":0,"status_name":"new","bill_full_name":"Hoang Anh","bill_phone_number":"0999999999","bill_email":"customer@example.com","conversation_id":"117967746266487_9306266852780716","page_id":"256469571178082","post_id":"185187094667903_477083092110915","ad_id":"23851252560290199","shipping_fee":0,"cod":0,"cash":0,"account":1,"total_discount":0,"note":"","note_print":null,"received_at_shop":false,"is_free_shipping":false,"is_locked":false,"creator_id":"8fbe2a6f-b0b2-4227-a698-19d18c43f7c8","creator":{"id":"8fbe2a6f-b0b2-4227-a698-19d18c43f7c8","fb_id":"2042723249341651","name":"Hoang Anh","avatar_url":null},"items":[],"partner":{"partner_id":1,"cod":0,"extend_code":"S58824.MB25.C3.500020713","total_fee":0,"updated_at":"2020-05-12T05:18:16","delivery_name":null,"delivery_tel":null,"picked_up_at":null,"sort_code":null,"paid_at":null,"system_created":true,"partner_status":"request_received","partner_name":"Shopee Xpress","first_delivery_at":null,"first_undeliverable_at":"2025-06-30T06:41:44","order_number_vtp":null,"printed_form":null,"extend_update":[{"key":"status","status":"delivered","tracking_id":"S58824.MB25.C3.500020713","note":"","update_at":"2020-05-12T05:18:16","webhook_params":null}]},"shipping_address":{"full_name":"Hoang Anh","phone_number":"0999999999","address":"90 Cầu Giấy","full_address":"90 Cầu Giấy, Phường Dịch Vọng, Quận Cầu Giấy, Hà Nội","province_id":"101","district_id":"10113","commune_id":"1011309"},"additional_info":{"service_partner":"instant"},"invoice_info_list":[{"error":"","invoice_detail":{"company_address":"85 lê quý đôn, phường nam định, tỉnh Ninh Bình","company_address_breakdown":{"company_additional_info":"","company_barangay":"","company_city":"","company_detailed_address":"85 lê quý đôn, phường nam định, tỉnh Ninh Bình","company_district":"Phường Nam Định","company_full_address":"85 lê quý đôn, phường nam định, tỉnh Ninh Bình","company_postcode":"","company_province":"","company_region":"VietNam","company_state":"Ninh Bình","company_town":"Phường Nam Định"},"company_email":"acb@gmail.com","company_name":"Công ty cổ phần tư vấn xây dựng điện Hoàng Phát","company_tax_id":"0601043840"},"invoice_type":"company","is_requested":true,"order_sn":"251121BVGU6RVE"}],"reports_by_phone":{"+639175706297":{"order_fail":29,"order_success":20,"warning":0}},"p_utm_source":"fb","p_utm_medium":"paid","p_utm_campaign":"120236828168640593","p_utm_term":"120236828168790593","p_utm_content":"120236828168960593","link":"https://www.myfahathai.com/doc?fbclid=IwZXh0bgNhZW0BMABhZGlkAasqwhnoX"}],"page_number":1,"page_size":100,"success":true,"total_entries":1418,"total_pages":15}}}}}}}},"post":{"summary":"Create order","x-summary-i18n":{"vie":"Tạo đơn hàng"},"description":"Create order","x-description-i18n":{"vie":"Tạo đơn hàng"},"tags":["Order"],"x-tags-i18n":{"vie":["Đơn hàng"]},"parameters":[{"name":"SHOP_ID","in":"path","required":true,"schema":{"type":"integer","example":4},"description":"Shop ID","x-description-i18n":{"vie":"Mã shop"}}],"requestBody":{"required":true,"description":"Order information to create","x-description-i18n":{"vie":"Thông tin đơn hàng cần tạo"},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Order ID","x-description-i18n":{"vie":"Mã đơn hàng"}},"system_id":{"type":"integer","description":"System ID","x-description-i18n":{"vie":"Mã hệ thống"}},"shop_id":{"type":"integer","description":"Shop ID","x-description-i18n":{"vie":"Mã cửa hàng"}},"inserted_at":{"type":"string","format":"date-time","description":"Order creation time","x-description-i18n":{"vie":"Thời điểm tạo đơn"}},"updated_at":{"type":"string","format":"date-time","description":"Order update time","x-description-i18n":{"vie":"Thời điểm cập nhật đơn"}},"status":{"type":"integer","description":"Order status","x-description-i18n":{"vie":"Trạng thái đơn hàng"},"enum":[0,17,11,12,13,20,1,8,9,2,3,16,4,15,5,6,7],"x-enum-descriptions":["New","Waiting for confirmation","Restocking","Wait for printing","Printed","Purchased","Confirmed","Packaging","Waiting for pick up","Shipped","Received","Collected money","Returning","Partial return","Returned","Canceled","Deleted recently"],"x-enum-descriptions-i18n":{"vie":["Mới","Chờ xác nhận","Chờ hàng","Chờ in","Đã in","Đã đặt hàng","Đã xác nhận","Đang đóng hàng","Chờ chuyển hàng","Đã gửi hàng","Đã nhận","Đã thu tiền","Đang hoàn","Hoàn một phần","Đã hoàn","Đã hủy","Đã xóa"]}},"status_name":{"type":"string","description":"Order status name","x-description-i18n":{"vie":"Tên trạng thái đơn hàng"}},"bill_full_name":{"type":"string","description":"Customer name","x-description-i18n":{"vie":"Tên khách hàng"}},"bill_phone_number":{"type":"string","description":"Phone number of customer","x-description-i18n":{"vie":"SĐT khách hàng"}},"bill_email":{"type":"string","description":"Customer email","x-description-i18n":{"vie":"Email khách hàng"}},"conversation_id":{"type":"string","description":"Conversation ID","x-description-i18n":{"vie":"Mã hội thoại"}},"page_id":{"type":"string","description":"Facebook page ID","x-description-i18n":{"vie":"Mã Facebook page"}},"post_id":{"type":"string","description":"Post ID","x-description-i18n":{"vie":"Mã bài viết"}},"ad_id":{"type":"string","description":"Ad ID","x-description-i18n":{"vie":"Mã quảng cáo"}},"shipping_fee":{"type":"integer","description":"Shipping fee","x-description-i18n":{"vie":"Phí vận chuyển"}},"partner_fee":{"type":"integer","description":"Fee from shipping partner","x-description-i18n":{"vie":"Phí vận chuyển từ ĐVVC"}},"fee_marketplace":{"type":"integer","description":"Fees from e-commerce platforms","x-description-i18n":{"vie":"Phí sàn"}},"customer_pay_fee":{"type":"boolean","description":"Customer pay shipping fee","x-description-i18n":{"vie":"Khách trả phí ship"}},"is_free_shipping":{"type":"boolean","description":"Free shipping","x-description-i18n":{"vie":"Miễn phí vận chuyển"}},"is_livestream":{"type":"boolean","description":"Is livestream order","x-description-i18n":{"vie":"Đơn hàng từ livestream"}},"is_live_shopping":{"type":"boolean","description":"Is live shopping order","x-description-i18n":{"vie":"Đơn hàng từ live shopping"}},"is_smc":{"type":"boolean","description":"Shopping on Messenger","x-description-i18n":{"vie":"Đơn hàng từ mua sắm trên Messenger"}},"received_at_shop":{"type":"boolean","description":"true: Sales at counter, false: Sell online","x-description-i18n":{"vie":"true: Bán tại quầy, false: Bán online"}},"total_discount":{"type":"integer","description":"Discount total","x-description-i18n":{"vie":"Tổng tiền giảm giá"}},"note":{"type":"string","description":"Internal note","x-description-i18n":{"vie":"Ghi chú nội bộ"}},"note_print":{"type":"string","description":"Note for printing","x-description-i18n":{"vie":"Ghi chú đơn hàng"}},"returned_reason":{"type":"integer","description":"Return reason code (1: Customer, 2: Staff, 3: Defective product, 4: Shipping carrier, 5: Exchange). Other values are shop-defined custom reasons, see returned_reason_name for the display name","x-description-i18n":{"vie":"Mã lý do hoàn hàng (1: Do khách hàng, 2: Do nhân viên, 3: Do sản phẩm lỗi, 4: Do đơn vị vận chuyển, 5: Do đổi hàng). Mã khác là lý do tùy chỉnh theo từng shop, xem tên hiển thị tại returned_reason_name"}},"returned_reason_name":{"type":"string","description":"Return reason name","x-description-i18n":{"vie":"Tên lý do hoàn hàng"}},"sub_status":{"type":"integer","description":"Reason for delivery delay","x-description-i18n":{"vie":"Lý do delay giao hàng"}},"warehouse_id":{"type":"string","description":"Warehouse ID","x-description-i18n":{"vie":"Mã kho hàng"}},"warehouse_info":{"type":"object","description":"Warehouse information","x-description-i18n":{"vie":"Thông tin kho hàng"},"properties":{"name":{"type":"string","description":"Warehouse name","x-description-i18n":{"vie":"Tên kho hàng"}},"phone_number":{"type":"string","description":"Warehouse phone number","x-description-i18n":{"vie":"Số điện thoại kho hàng"}},"full_address":{"type":"string","description":"Warehouse full address","x-description-i18n":{"vie":"Địa chỉ đầy đủ kho hàng"}},"address":{"type":"string","description":"Warehouse address","x-description-i18n":{"vie":"Địa chỉ chi tiết kho hàng"}},"province_id":{"type":"string","description":"Province ID","x-description-i18n":{"vie":"Mã tỉnh thành phố"}},"district_id":{"type":"string","description":"District ID","x-description-i18n":{"vie":"Mã quận huyện"}},"commune_id":{"type":"string","description":"Commune ID","x-description-i18n":{"vie":"Mã phường xã"}},"affiliate_id":{"type":"string","description":"Affiliate ID","x-description-i18n":{"vie":"Mã đại lý"}},"ffm_id":{"type":"string","description":"FFM ID","x-description-i18n":{"vie":"Mã FFM"}},"has_snappy_service":{"type":"boolean","description":"Has Snappy service","x-description-i18n":{"vie":"Có dịch vụ Snappy"}},"custom_id":{"type":"string","description":"Custom ID","x-description-i18n":{"vie":"Mã tùy chỉnh"}}}},"creator_id":{"type":"string","description":"Creator ID","x-description-i18n":{"vie":"Mã người tạo"}},"creator":{"type":"object","description":"Order creator","x-description-i18n":{"vie":"Thông tin người tạo đơn"},"properties":{"id":{"type":"string","description":"Creator ID","x-description-i18n":{"vie":"Mã người tạo"}},"fb_id":{"type":"string","description":"Facebook ID of creator","x-description-i18n":{"vie":"ID facebook người tạo đơn"}},"name":{"type":"string","description":"Creator name","x-description-i18n":{"vie":"Tên người tạo đơn"}},"avatar_url":{"type":"string","description":"Creator avatar URL","x-description-i18n":{"vie":"Link avatar người tạo"}}}},"items":{"type":"array","description":"Product list","x-description-i18n":{"vie":"Danh sách sản phẩm"},"items":{"type":"object","required":["variation_id","quantity"],"properties":{"product_id":{"type":"string","description":"Product ID","x-description-i18n":{"vie":"Mã sản phẩm"}},"quantity":{"type":"integer","description":"Quantity","x-description-i18n":{"vie":"Số lượng"}},"returned_count":{"type":"integer","description":"Returned count","x-description-i18n":{"vie":"Số lượng đã trả"}},"assigning_seller_id":{"type":"string","description":"Assigning seller ID","x-description-i18n":{"vie":"Mã nhân viên được phân công"}},"quantity_by_combo_products":{"type":"array","description":"Quantity by combo products","x-description-i18n":{"vie":"Số lượng theo combo sản phẩm"},"items":{"type":"object"}},"discount_each_product":{"type":"integer","description":"Discount for each product","x-description-i18n":{"vie":"Giảm giá cho từng sản phẩm"}},"is_bonus_product":{"type":"boolean","description":"Is bonus product","x-description-i18n":{"vie":"Sản phẩm tặng kèm"}},"is_discount_percent":{"type":"boolean","description":"Is discount by percent","x-description-i18n":{"vie":"Giảm giá theo phần trăm"}},"is_wholesale":{"type":"boolean","description":"Is wholesale","x-description-i18n":{"vie":"Bán sỉ"}},"is_composite":{"type":"boolean","description":"Is composite product","x-description-i18n":{"vie":"Sản phẩm composite"}},"one_time_product":{"type":"boolean","description":"One time product","x-description-i18n":{"vie":"Sản phẩm một lần"}},"note":{"type":"string","description":"Product note","x-description-i18n":{"vie":"Ghi chú sản phẩm"}},"note_product":{"type":"string","description":"Product note","x-description-i18n":{"vie":"Ghi chú sản phẩm"}},"inserted_at":{"type":"string","format":"date-time","description":"Inserted at","x-description-i18n":{"vie":"Thời điểm tạo"}},"measure_group_id":{"type":"integer","description":"Measure group ID","x-description-i18n":{"vie":"Mã nhóm đơn vị tính"}},"variation_info":{"type":"object","description":"Variation information. Optional when creating/updating an order (the backend defaults it to an empty object if omitted). Its inner fields are not individually required, but sending `retail_price` is recommended so the line price is correct.","x-description-i18n":{"vie":"Thông tin biến thể. Không bắt buộc khi tạo/cập nhật đơn (backend tự coi là object rỗng nếu thiếu). Các field bên trong không bắt buộc riêng lẻ, nhưng nên gửi `retail_price` để giá dòng hàng đúng."},"properties":{"id":{"type":"string","description":"Variation ID","x-description-i18n":{"vie":"Mã biến thể"}},"name":{"type":"string","description":"Product name","x-description-i18n":{"vie":"Tên sản phẩm"}},"product_id":{"type":"string","description":"Product ID","x-description-i18n":{"vie":"Mã sản phẩm"}},"retail_price":{"type":"integer","description":"Retail price. Not strictly required, but recommended when creating/updating an order so the line price is correct.","x-description-i18n":{"vie":"Giá bán lẻ. Không bắt buộc, nhưng nên gửi khi tạo/cập nhật đơn để giá dòng hàng chính xác."}},"detail":{"type":"string","description":"Variation detail","x-description-i18n":{"vie":"Chi tiết biến thể"}},"images":{"type":"array","description":"Variation images","x-description-i18n":{"vie":"Hình ảnh biến thể"},"items":{"type":"string","format":"uri"}},"fields":{"type":"array","description":"Variation fields","x-description-i18n":{"vie":"Thuộc tính biến thể"},"items":{"type":"object","properties":{"id":{"type":"string","description":"Field ID","x-description-i18n":{"vie":"Mã thuộc tính"}},"name":{"type":"string","description":"Field name","x-description-i18n":{"vie":"Tên thuộc tính"}},"value":{"type":"string","description":"Field value","x-description-i18n":{"vie":"Giá trị thuộc tính"}},"keyValue":{"type":"string","description":"Key value","x-description-i18n":{"vie":"Giá trị khóa"}}}}},"barcode":{"type":"string","description":"Barcode","x-description-i18n":{"vie":"Mã barcode"}},"brand_id":{"type":"string","description":"Brand ID","x-description-i18n":{"vie":"Mã thương hiệu"}},"category_ids":{"type":"array","description":"Category IDs","x-description-i18n":{"vie":"Danh sách mã danh mục"},"items":{"type":"integer"}},"display_id":{"type":"string","description":"Display ID","x-description-i18n":{"vie":"Mã hiển thị"}},"product_display_id":{"type":"string","description":"Product display ID","x-description-i18n":{"vie":"Mã hiển thị sản phẩm"}},"last_imported_price":{"type":"integer","description":"Last imported price","x-description-i18n":{"vie":"Giá nhập hàng cuối"}},"is_upsale_product":{"type":"boolean","description":"Upsale product","x-description-i18n":{"vie":"Sản phẩm upsale"}},"weight":{"type":"integer","description":"Weight","x-description-i18n":{"vie":"Khối lượng"}},"measure_info":{"type":"object","description":"Measure information","x-description-i18n":{"vie":"Thông tin đơn vị tính"},"properties":{"measure_id":{"type":"integer","description":"Measure ID","x-description-i18n":{"vie":"Mã đơn vị tính"}},"exchange_value":{"type":"integer","description":"Exchange value","x-description-i18n":{"vie":"Giá trị quy đổi"}}}},"avg_price":{"type":"integer","description":"Average import price","x-description-i18n":{"vie":"Giá nhập trung bình"}}}},"components":{"type":"array","description":"Product components","x-description-i18n":{"vie":"Thành phần sản phẩm"},"items":{"type":"object","properties":{"component_id":{"type":"string","description":"Component ID","x-description-i18n":{"vie":"Mã thành phần"}},"quantity":{"type":"integer","description":"Quantity","x-description-i18n":{"vie":"Số lượng"}},"variation_id":{"type":"string","description":"Variation ID","x-description-i18n":{"vie":"Mã biến thể"}},"variation_info":{"type":"object","description":"Variation information","x-description-i18n":{"vie":"Thông tin biến thể"}}}}},"variation_id":{"type":"string","description":"Variation ID (SKU of the variation can also be used)","x-description-i18n":{"vie":"Mã mẫu mã (có thể dùng SKU của mẫu mã)"}}}}},"partner":{"type":"object","description":"Partner information","x-description-i18n":{"vie":"Thông tin đơn vị vận chuyển"},"properties":{"partner_id":{"type":"integer","description":"Partner ID","x-description-i18n":{"vie":"ID đơn vị vận chuyển trên hệ thống Pancake"}},"cod":{"type":"integer","description":"Reconciliation COD","x-description-i18n":{"vie":"Đối soát tiền thu hộ"}},"extend_code":{"type":"string","description":"Shipping order ID on partner system","x-description-i18n":{"vie":"Mã vận đơn"}},"total_fee":{"type":"integer","description":"Total fee","x-description-i18n":{"vie":"Tổng phí"}},"updated_at":{"type":"string","format":"date-time","description":"Updated at","x-description-i18n":{"vie":"Thời điểm cập nhật"}},"delivery_name":{"type":"string","description":"Shipper name","x-description-i18n":{"vie":"Tên người giao hàng"}},"delivery_tel":{"type":"string","description":"Delivery phone","x-description-i18n":{"vie":"Số điện thoại người giao hàng"}},"picked_up_at":{"type":"string","format":"date-time","description":"Picked up at","x-description-i18n":{"vie":"Thời điểm lấy hàng"}},"sort_code":{"type":"string","description":"Sort code","x-description-i18n":{"vie":"Mã phân loại"}},"paid_at":{"type":"string","format":"date-time","description":"Paid at","x-description-i18n":{"vie":"Thời điểm thanh toán"}},"system_created":{"type":"boolean","description":"System created","x-description-i18n":{"vie":"Được tạo bởi hệ thống"}},"extend_update":{"type":"array","description":"Update from courier","x-description-i18n":{"vie":"Cập nhật từ đơn vị vận chuyển"},"items":{"type":"object","properties":{"key":{"type":"string","description":"Update key","x-description-i18n":{"vie":"Mã cập nhật"}},"status":{"type":"string","description":"Status","x-description-i18n":{"vie":"Trạng thái"}},"tracking_id":{"type":"string","description":"Partner extend code","x-description-i18n":{"vie":"Mã đơn hàng đối tác"}},"note":{"type":"string","description":"Courier notes","x-description-i18n":{"vie":"Ghi chú từ đơn vị vận chuyển"}},"update_at":{"type":"string","format":"date-time","description":"Updated at","x-description-i18n":{"vie":"Thời điểm cập nhật"}}}}},"partner_status":{"type":"string","nullable":true,"description":"Partner shipping status","x-description-i18n":{"vie":"Trạng thái vận chuyển"},"enum":["waiting","request_received","processing_picked_up","picking_up","delay_pickup","pi
[...]
